@import './../../../../../../../shared/styles/variables';

.phase-sidebar-header-inner {
	display: flex;
	border-bottom: 1px solid $light-grey;
	margin: 0;
	background:rgba(255,255,255,.95);
}

.sidebar-collapsed .phase-sidebar-header-inner {
	box-shadow:0 0 6px 5px rgba(255,255,255,.85);
}

.phase-sidebar-tab {
	display: flex;
	width: 100%;
	margin-bottom:-1px;
}

.phase-sidebar-tab-link {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	border-bottom: 2px solid transparent;
	align-items:center;
	padding: 1.1em 1.5em;
	color:$icon-grey;
}

.phase-sidebar .phase-sidebar-tab.selected {
	.phase-sidebar-tab-link {
		border-bottom: 2px solid $primary-color;	
	}
}

.phase-sidebar-tab-icon {
	display: flex;
	margin-right: 5px;
	> .mdi {
		font-size: 1.6em;
	}
}

.phase-sidebar-tab-label {
	display: flex;
}

.selected{
	.phase-sidebar-tab-label{
		font-weight: 500;
	}
	.phase-sidebar-tab-link{
		color:$primary-color;
	}
}

.phase-sidebar-tab-counter {
	background-color: $primary-color;
	border-radius: 50%;
	width: 1.8em;
	height: 1.8em;
	font-size: 0.7em;
	color: white;
	text-align: center;
	position: relative;
	top:-8px;
	border:2px solid #fff;
}

@media #{$large-and-up} {
	.phase-sidebar-header-inner{
		box-shadow:none;
	}
}