<zs-case-phase-nav
	data-phases="vm.getPhases()"
	active-phase="vm.getActivePhase()"
	selected-phase="vm.phaseName()"
	on-phase-click="vm.handlePhaseClick()"
	is-phase-valid="vm.isPhaseValid()"
	pending-changes="vm.getPendingChanges()"
></zs-case-phase-nav>

<div class="phase-body ng-hide" ng-class="{ 'sidebar-collapsed': vm.isSidebarCollapsed() }" ng-show="true">

 	<div class="phase-form-container">

		<div class="phase-form-wrap">

			<div class="phase-header-status">

				<button
					type="button"
					class="phase-unlock-button btn btn-secondary"
					ng-show="vm.canUnlock()"
					ng-click="vm.handleUnlockClick()"
					ng-class="{ locked: vm.isLocked() }"
				>
					{{vm.isLocked() ? 'Ontgrendelen' : 'Vergrendelen' }}
				</button>

				<div class="phase-advance-button-wrapper">

					<button
						type="button"
						class="phase-advance-button btn-floating"
						ng-disabled="vm.advanceButton().disabled"
						ng-click="vm.handleAdvanceClick()"
						ng-class="vm.advanceButton().classes"
					>
						<div class="phase-advance-button-inner">
							<zs-icon class="phase-advance-button-icon" icon-type="{{vm.advanceButton().icon}}"></zs-icon>
							<div class="phase-advance-button-label">{{vm.advanceButton().label}}</div>
						</div>
					</button>

				</div>

				<ul
					class="phase-header-validation-messages"
					zs-position-fixed="{ attachment: 'top right', target: 'bottom right', offset: { x: 0, y: 0 }, reference: vm.advanceButton().reference, updateOn: 'scroll resize watch' }"
					ng-if="vm.isValidationVisible()"
				>
					<span class="phase-header-validation-messages-title">De volgende onderdelen zijn niet of onvolledig ingevuld:</span>

					<li
						class="phase-validation-message"
						ng-repeat="message in vm.getValidationMessages() track by message.name"
						ng-switch="message.type"
						ng-class="message.style"
					>
						<button
							class="phase-validation-button"
							type="button"
							ng-click="message.click()"
							ng-switch-default
						>
							<zs-icon icon-type="{{::message.icon}}"></zs-icon>
							<span>{{::message.label}}</span>
						</button>
						<a
							class="phase-validation-button"
							ng-href="{{::message.link}}"
							ng-switch-when="link"
						>
							<zs-icon icon-type="{{::message.icon}}"></zs-icon>
							<span>{{::message.label}}</span>
						</a>
					</li>
				</ul>

			</div>

			<div class="phase-form-wrap-inner">

				<div class="phase-header">

					<div class="phase-header-inner">

						<div class="phase-header-title">

							<span class="big-title-blue">{{vm.getPhaseTitle()}}</span>

							<div class="phase-header-options">
								<button
									data-name="{{option.name}}"
									class="phase-header-option btn-flat btn-round"
									ng-repeat="option in vm.getPhaseOptions() track by option.name"
									ng-class="option.classes"
									ng-click="option.click($event)"
									zs-tooltip="{{option.label}}"
								>
									<zs-icon class="phase-header-option-icon" icon-type="{{option.icon}}"></zs-icon>
									
								</button>
							</div>

						</div>

					</div>
				
				</div>

				<div class="phase-form">

					<fieldset
						ng-repeat="fieldset in vm.getFieldsets() track by $index"
					>
						<!--
							TODO: remove HTML support as soon as customers are able to
							update their libraries to remove HTML from titles etc
						-->

						<div class="vorm-fieldset-label" ng-bind-html="fieldset.label"></div>
						<div class="vorm-fieldset-description" ng-bind-html="fieldset.description">
						</div>

						<ul class="vorm-field-list">

							<li
								class="vorm-field-item"
								ng-repeat="field in fieldset.fields track by field.id"
								data-name="{{::field.name}}"
								ng-switch="field.type"
							>

								<a name="{{::field.name}}"></a>

								<div
									ng-switch-default
								>

									<div class="vorm-field-item-extra">

										<zs-icon
											ng-repeat="icon in field.icons track by icon.type"
											ng-class="icon.classes"
											icon-type="{{icon.type}}"
											zs-tooltip="{{icon.tooltip}}"
											zs-tooltip-options="icon.options"
										></zs-icon>

									</div>

									<vorm-field
										data-label="{{field.label}}"
										add-label="{{field.addLabel}}"
										data-description="{{field.description}}"
										data-value="field.value"
										data-template="field.template"
										template-data="field.data"
										on-change="vm.handleChange(field.name, $value)"
										data-disabled="field.disabled"
										data-required="field.required"
										data-limit="field.limit"
										model-options="vm.getModelOptions()"
										data-valid="field.validity"
										ng-class="field.style"
										data-compiler="vm.getCompiler()"
									>
									</vorm-field>

									<zs-case-attribute-update-request
										ng-if="field.queuable"
										on-submit="vm.handleAttributeUpdateRequest(field.name, $description)"
										on-form-open="vm.unlockField(field.name)"
										on-form-close="vm.lockField(field.name)"
										is-open="field.unlocked"
									>
									</zs-case-attribute-update-request>

									<zs-pending-change
										ng-repeat="change in field.pendingChanges"
										data-change="change"
										on-accept="vm.handleChangeAccept($change)"
										on-reject="vm.handleChangeReject($change)"
										data-disabled="!vm.canAcceptPendingChange()"
									>
									</zs-pending-change>

								</div>

								<zs-case-object-mutation-list
									ng-switch-when="object"
									object-id="field.data.objectId"
									object-label="{{::field.label}}"
									data-capabilities="field.data.capabilities"
									data-mutations="field.value"
									data-defaults="vm.getCaseValues()"
									on-mutation-create="vm.handleMutationCreate(field.name, $type, $label, $objectId, $values)"
									on-mutation-update="vm.handleMutationUpdate(field.name, $mutation, $label, $values)"
									on-mutation-remove="vm.handleMutationRemove(field.name, $mutation)"
									data-disabled="field.disabled"
								>
								</zs-case-object-mutation-list>

							</li>

						</ul>

					</fieldset>

					<div class="phase-form-empty" ng-show="vm.getFieldsets().length===0">
						Er zijn geen velden beschikbaar in deze fase
					</div>

					<zs-case-result
						data-result="vm.getResult()"
						data-results="vm.getResultOptions()"
						on-result-change="vm.handleResultChange($result)"
						data-can-change="vm.canChangeResult()"
						ng-if="vm.isLastPhase()"
					>
					</zs-case-result>

				</div>

			</div>

		</div>
		
	</div>

	<zs-case-phase-sidebar
		data-actions="vm.getActions()"
		data-checklist="vm.getChecklist()"
		data-tab="vm.tab()"
		is-collapsed="vm.isSidebarCollapsed($getter)"
		on-action-automatic-toggle="vm.handleActionAutomaticToggle($actionId, $automatic)"
		on-action-untaint="vm.handleActionUntaint($actionId)"
		on-action-trigger="vm.handleActionTrigger($action, $trigger, $data)"
		on-checklist-add="vm.handleChecklistAdd($content)"
		on-checklist-remove="vm.handleChecklistRemove($item)"
		on-checklist-toggle="vm.handleChecklistToggle($item, $checked)"
		data-templates="vm.templates()"
		data-requestor="vm.requestor()"
		data-phases="vm.getPhases()"
		case-documents="vm.caseDocuments()"
		can-edit="vm.canEditSidebar()"
	>
	</zs-case-phase-sidebar>

</div>
