[% RETURN IF c.user_exists -%]
[% nowrapper=1 -%]

<!DOCTYPE HTML>

<!--[if IE 7 ]>    <html class="ie ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>[% IF page_title %][% page_title | html_entity %] - [% END %][% c.get_customer_info.naam_lang %]</title>
    
    <link rel="stylesheet" type="text/css" href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/[% c.config.gemeente_id %]/css/main.css" media="screen" />
    
    [% PROCESS form/common_form_header_includes.tt %]
    
    <link media="screen" href="/css/templates/[% c.config.gemeente_id %].css" type="text/css" rel="stylesheet" />
    
    [% PROCESS layouts/common_header_includes_js.tt %]
    
    <script src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/[% c.config.gemeente_id %]/js/[% c.config.gemeente_id %].js" type="text/javascript"></script>
    
    <link rel="shortcut icon" href="http://www.bussum.nl/favicon.ico">


</head>
<body data-ng-app="Zaaksysteem">



		<div id="container">
			<div id="main">
			
                <div id="header">
                	<div id="pagetitle" class="hidden">
                		<h1>Gemeente Bussum</h1>
                	</div>
                	<div id="logo">
                		<h2><a href="http://www.bussum.nl" title="Gemeente Bussum">
                				<img src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/bussum/img/logo.gif" alt="Gemeente Bussum" />
                				<span class="titel">Gemeente Bussum | Een opzet voor gemeente websites</span>
                			</a>
                		</h2>
                	</div>
                	<div id="header-bottom">&nbsp;</div>
                	
                    <!-- [% IF logged_in_by %]
                        <a href="[% c.uri_for('/auth/' _
                            logged_in_by _ '/logout') %]" class="logout">Uitloggen</a>
                    [% END %] -->
				</div>
				
				<div id="bread">
					<a href="http://www.bussum.nl/">www.bussum.nl</a> &gt;&nbsp;
					<a href="http://www.bussum.nl/direct-zaken-online-regelen/">Direct zaken online regelen</a> 
					<!-- &gt;&nbsp; TODO hier de productnaam tonen -->
				</div>
				
				<div class="content clearfix">
