[% nowrapper=1 %]
[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

[% layout_type = 'simple' %]

<div id="loginwrap" class="alt-auth alt-auth-login">
    <div class="block">
        <div class="block-header">
            <h1>Wachtwoord opnieuw instellen</h1>
        </div>

        <div class="block-content clearfix">
            

            <div class="alt-auth-small-form">

                <div>
                    <p class="alt-auth-intro">
                    <span class="alt-auth-intro-text">[% twofactor_password_text %]</span>
                    </p>
                
                <form action="[% c.uri_for('/auth/twofactor/process_lost_password') | html_entity %]" method="POST" class="zvalidate">
                    <div class="row">
                        <div><label for="user">Gebruikersnaam *</label></div>
                        <div class="column "><input type="text" name="username" id="user">
                        [% PROCESS widgets/general/validator.tt %]</div>
                    </div>

                    <button type="submit" value="Wachtwoord vergeten" class="button button-primary">
                        <span class="a">Wachtwoord opnieuw instellen</span>
                    </button>
                </form>

                </div>

            </div>
        </div>
    </div>
</div> 

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
