
.alt-auth-login,
.alt-auth-smscode{
	.column.large-4{
		margin: 0 auto;
		float:none;
	}
	input[type=text],
	input[type=password],
	button{
		width:100%;
		padding-top:10px;
		padding-bottom:10px;
	}
	input[type=text],
	input[type=password]{
		box-sizing:border-box;
		padding:8px;
		margin-bottom:15px;
		font-size:1.1em;
	}
	button{
		margin-bottom:25px;
	}
}

.alt-auth-register-button{
	text-align: center;
	display: block;
}

.alt-auth-register{
	.alt-auth-intro{
		padding-bottom:1.7em;
		line-height: 1.7;
	}
	input[type="text"],
	input[type="password"],
	input[type="email"]{
		width:100%;
	}
	.grid-table{
		margin-bottom:15px;
	}
	button{
		float:right;
	}
	.form-required-fields-explanation{
		border-bottom:1px solid #ddd;
		padding-bottom:8px;
	}
}