input,
textarea{ font-size:1em; }

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number],
textarea{
    border-style: solid;
    border-width: 1px;
    border-color:#bbb;
    padding:5px;
    margin: 0;
    @include box-sizing(border-box);
}

input[type=file]{border: none;} 
input[type=text]:hover,
input[type=password]:hover,
input[type=number]:hover,
textarea:hover{
    border-color:#888;
}

input:focus,
textarea:focus{
    border-color:#777;
    box-shadow: #14a4fe 0 0 4px;
    -moz-box-shadow: #14a4fe 0 0 4px;
    -webkit-box-shadow: #14a4fe 0 0 4px;
}

.ie input:focus,
.ie textarea:focus,
.ie a:focus{
    outline: #14a4fe solid 2px;
}

input[type="text"].ng-dirty.ng-invalid,
input[type="email"].ng-dirty.ng-invalid,
input[type="number"].ng-dirty.ng-invalid,
input[type="url"].ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid {
    -webkit-box-shadow: rgb(252, 72, 72) 0 0 4px 0;
    -moz-box-shadow: rgb(252, 72, 72) 0 0 4px 0;
    box-shadow: rgb(252, 72, 72) 0 0 4px 0;
    border-color: red;
    &:focus{
        -webkit-box-shadow: rgb(20, 164, 254) 0 0 4px 0;
        -moz-box-shadow: rgb(20, 164, 254) 0 0 4px 0;
        box-shadow: rgb(20, 164, 254) 0 0 4px 0;
        border-color: rgb(20,164,254);
    }
}

input.flexible80{width:80%;}
input.micro{width:24px;}
input.mini40{width:40px;}
input.mini60{width:60px;}
input.mini70{width:70px;}
input.mini80{width:80px;}
input.normal100{width:100px;}
input.normal120{width:120px;}
input.normal150{width:150px;}
input.medium{width:175px;}
input.medium185{width:185px;}
input.large{width:275px;}
input.large290{width:290px;}
input.large300{width:300px;}
input.large350{width:350px;}
input.xlarge{width:450px;}
input.infinite{width:97%;}
input.infinity{width:100%;}
.form input.infinite{width:100%;}
input.andbeyond{width:1000000%;}
input.input_readonly{background: #eee; font-style:italic; }
input.input_readonly:focus{box-shadow: none;}
input[disabled="disabled"]{background: #eee;}

// textarea

textarea{height:120px;width:300px;}
textarea.small{width: 150px;}
textarea.normal{width: 250px !important;height: 100px;}
textarea.large{width: 450px;}
textarea.txt300{width:300px;}
textarea.txt480{width:476px;}
textarea.textarea_toelichting{height: 50px;}
textarea.infinite{ width: 97%; }
.form textarea.infinite{width:100%;}

// legacy

.input_micro{width:24px;}
.input_mini{width:60px;}
.input_normal{width:120px;}
.input_medium{width:200px;}
.input_large{width:300px;}
.input_xlarge{width:475px;}

