        <div class="next-status-block next-status-block-with-table">

            <h2 class="blue">
                [% component_counter = component_counter + 1; component_counter %].
                Toewijzing
            </h2>
                        <div style="margin-bottom:8px;">
                            <div class="radio-item">
                                <label>
                                <input type="radio"
                                name="toewijzing_type"
                                value="" [% route_change ? '' : ' checked="checked"' %]
                                id="geen-toewijzing"
                                />
                                Geen toewijzing (zaak blijft in
                                behandeling bij huidige behandelaar)</label>
                            </div>
                        </div>
                        
                        <div style="margin-bottom:8px;">
                            <div class="radio-item">
                                <label style="margin-bottom:8px;display:block">
                                <input type="radio" name="toewijzing_type" value="behandelaar" id="behandelaar"/>
                                Selecteer een behandelaar:</label>
                            </div>
                            
                            <div class="ezra_select_betrokkene status_next_behandelaar">
                                <div class="medewerker">
                                    <input
                                        type="hidden"
                                        name="ztc_behandelaar_id"
                                        value="[%
                                            c.req.params.betrokkene_id || ''
                                        %]"
                                    />
                                    <input type="text"
                                        value="[%
                                            c.req.params.betrokkene_type == 'medewerker'
                                                ?  c.req.params.betrokkene_naam
                                                : ''
                                        %]"
                                        name="ztc_behandelaar_naam"
                                        class="input_large"
                                    />
                                    <a href="#" title="Zoek een nieuwe aanvrager" class="ezra_betrokkene_selector" rel="betrokkene_type: medewerker; selector_identifier: .status_next_behandelaar input[name='ztc_behandelaar_id']; selector_naam: .status_next_behandelaar input[name='ztc_behandelaar_naam']">
                                        <img src="/images/icon-magnifier.png" width="16" height="16" border="0" />
                                    </a><span class="validator"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div style="margin-bottom:8px;">
                            <div class="radio-item">
                                <label for="selecteer-rol" style="margin-bottom:8px;display:block">
                                <input type="radio" name="toewijzing_type"
                                value="route"
                                value="" [% route_change ? ' checked="checked"' : '' %]
                                id="selecteer-rol"
                                />Selecteer een rol:</label>
                                
                            </div>
                        
                            <div class="auth_edit_box" style="width:400px;padding:6px">
                            [% PROCESS widgets/general/auth_select.tt
                                AUTH_SELECT_OU_NAME   = 'ou_id'
                                AUTH_SELECT_OU_VALUE  = zaak.volgende_fase.ou_id
                                AUTH_SELECT_ROLE_NAME = 'role_id'
                                AUTH_SELECT_ROLE_VALUE = zaak.volgende_fase.role_id
                                AUTH_SELECT_NO_GLOBAL = 1
                            %]
                            </div>
                            
                        </div>

              
        </div>
