@import './../../../../../../shared/styles/variables';

zs-case-result{
	display: block;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
	background:#f9f9f9;
	padding:1.25rem 1.5rem .25rem;
	margin:0 2rem;
	@media #{$large-and-up}{
		margin:0;	
	}
}

.result-title{
	padding:0;
}

.result-options{
	margin:0;
	padding:.5rem 0 1.5rem;
	
	li{
		display: flex;
		align-items: center;
		padding:.3rem 0;
		input[type=radio]{
			margin-right:5px;
		}
		zs-icon{
			font-size:1.5rem;
			line-height: 1;
			color:#ccc;
			&:hover{
				color:#000;
			}
		}
		label{
			margin-right:5px;
			flex-grow:1;
		}
	}
}
