                [% IF betrokkene_type == 'medewerker' %]
                <tr>
                    <th>Voornamen:</th>
                    <th>Naam:</th>
                    <th>Afdeling:</th>
                </tr>
                [% ELSIF betrokkene_type == 'natuurlijk_persoon' %]
                <tr>
                    <td class="td30">&nbsp;</td>
                    <td class="td250">Voornamen:</td>
                    <td class="td250">Achternaam:</td>
                    <td class="td250">Postcode:</td>
                    <td class="td250">Straatnaam:</td>
                    <td class="td250">Nr.:</td>
                    [% IF c.req.params.import_datum %]
                    <td class="td250">Aangemaakt:</td>
                    [% END %]
                </tr>
                [% ELSIF betrokkene_type == 'bedrijf' %]
                <tr>
                    <td class="td100">KVK:</td>
                    <td class="td250">Handelsnaam:</td>
                    <td class="td250">Vestigingplaats:</td>
                    <td class="td250">Straatnaam:</td>
                    <td class="td100">Nr.:</td>
                    [% IF c.req.params.import_datum %]
                    <td class="td250">Aangemaakt:</td>
                    [% END %]
                </tr>
                [% END %]
            [% FOR mw IN results %]
                [% IF betrokkene_type == 'medewerker' %]
                    <tr class="betrokkene_keuze" id="betrokkene-[% betrokkene_type %]-[% mw.id %]">
                        <td class="td250 result_voorletters">[% mw.voornamen %]</td>
                        <td class="td250 result_geslachtsnaam">[% mw.geslachtsnaam %]</td>
                        <td class="td250 result_afdeling">[% mw.org_eenheid.name %]</td>
                    </tr>
                [% ELSIF betrokkene_type == 'bedrijf' %]
                    <tr class="select-row betrokkene_keuze" id="betrokkene-[% betrokkene_type %]-[% mw.gmid %]">
                        <td class="td100 result_dossiernummer">[% mw.dossiernummer %]</td>
                        <td class="td250 result_geslachtsnaam">[% mw.handelsnaam %]</td>
                        <td class="td250 result_postcode">[% mw.vestiging_woonplaats %]</td>
                        <td class="td250 result_straatnaam">[% mw.vestiging_straatnaam %]</td>
                        <td class="td100 result_huisnummer">[% mw.vestiging_huisnummer %]</td>
                        [% IF c.req.params.import_datum %]
                        <td class="td100 result_import_datum">
                            [% mw.import_datum.dmy %]
                        </td>
                        [% END %]
                    </tr>
                [% ELSE %]
                    [% # EXTERNAL_SEARCH %]
                    [% external_id = '' %]
                    [% IF c.req.params.external_search %]
                        [% external_id = (mw.external_id ? 'external_id-' _ mw.external_id : 'bsn-' _ mw.burgerservicenummer) %]
                    [% END %]
                    <tr class="betrokkene_keuze[% c.req.params.external_search ? ' external_search' : '' %] [% IF mw.onderzoek_persoon || mw.onderzoek_huwelijk || mw.onderzoek_verblijfplaats || mw.indicatie_geheim %]betrokkene-in-onderzoek[% END %]" id="[% external_id ? 'external_transaction_id-' _ external_id : 'betrokkene-' _ betrokkene_type _ '-' _ mw.gmid %][% external_errorid ? ' error-' _ external_errorid : '' %]">
                        <td class="table_zaken_td30">
                            <i class="icon icon-[% (mw.geslachtsaanduiding == 'M' ? 'man' : 'vrouw') %]"></i>
                            [% IF mw.indicatie_geheim %]
                            <a href="#" title="Persoon heeft status: geheim" class="add-tooltip">
                            <i class="icon-alert icon"></i></a>
                            [% END %]
                            [% IF mw.onderzoek_persoon || mw.onderzoek_huwelijk || mw.onderzoek_verblijfplaats || mw.onderzoek_overlijden %]
                            <a href="#" title="Persoon is in onderzoek" class="add-tooltip">
                            <i class="icon-alert icon"></i></a>
                            [% END %]
                            [% IF mw.functie_adres == 'B' %]
                            <a href="#" title="Briefadres" class="add-tooltip">
                            <i class="icon-zaak icon"></i></a>
                            [% END %]
                        </td>
                        <td style="display: none;" class="table_zaken_td250 result_voorletters">[% mw.voorletters %]</td>
                        <td class="td250 result_voornamen">[% mw.voornamen %]</td>
                        <td class="td250 result_geslachtsnaam">[% (external_id ? mw.geslachtsnaam : mw.achternaam) %]</td>
                        <td class="td250 result_postcode">[% mw.postcode %]</td>
                        <td class="td250 result_straatnaam">[% mw.straatnaam %]</td>
                        <td class="td100 result_huisnummer">
                            [% mw.huisnummer %]
                            [% (mw.huisletter ? mw.huisletter : '') %]
                            [% (mw.huisnummertoevoeging ? ' - ' _ mw.huisnummertoevoeging : '') %]
                        </td>
                        [% IF c.req.params.import_datum %]
                        <td class="td100 result_import_datum">
                            [% mw.import_datum.dmy %]
                        </td>
                        [% END %]
                    </tr>
                [% END %]
             [% END %]
             [% IF ( results.dbic_rs.pager.total_entries || 0 ) > 40 %]
             <tr><td colspan="5">Er zijn te veel resultaten, gelieve meer zoekcriteria op te geven.
             </td></tr>
             [% END %]
             [% IF external_errorid %]
                <tr id="external_errorid">
                    <td>
                        <input type="hidden" name="external_errorid" value="[% external_errorid %]" />
                    </td>
                </tr>
             [% END %]
