[% type_fieldname = fieldname _ '_type' %]

<div>
    <div>Extern systeem:</div>
    <div>
        <select name="regels_[% type_fieldname %]">
            <option value="">-- Selecteer --</option>
            <option value="buitenbeter"  [% IF params.$type_fieldname == 'buitenbeter' %]selected="selected"[% END %][% IF !interface_available.item('buitenbeter') %]disabled="disabled"[% END %]>Buitenbeter</option>
            <option value="mijnoverheid" [% IF params.$type_fieldname == 'mijnoverheid' %]selected="selected"[% END %][% IF !interface_available.item('mijnoverheid') %]disabled="disabled"[% END %]>Mijn Overheid</option>
            [% FOREACH interface IN api_interfaces %]
            [% if_val = "api_" _ interface.key %]
            <option value="[% if_val %]" [% IF params.$type_fieldname == if_val %]selected="selected"[% END %]>
                Zaaksysteem API: [% interface.value %]
            </option>
            [% END %]
        </select>
    </div>
</div>

[% IF params.$type_fieldname == 'buitenbeter' %]
[% message_fieldname = fieldname _ '_message' %]
[% status_fieldname = fieldname _ '_status' %]
<div>
    <div>Status:</div>
    <div>
        <select name="regels_[% status_fieldname %]">
            <option [% IF params.$status_fieldname == 'In behandeling' %]selected="selected"[% END %]>In behandeling</option>
            <option [% IF params.$status_fieldname == 'Afgehandeld' %]selected="selected"[% END %]>Afgehandeld</option>
        </select>
    </div>
</div>

<div>
    <div>Melding:</div>
    <div>
        <textarea rows="2" name="regels_[% message_fieldname %]">[% params.$message_fieldname %]</textarea>
    </div>
</div>
[% ELSIF params.$type_fieldname == 'mijnoverheid' %]
    [% message_type_fieldname = fieldname _ '_message_type' %]
    <div>
        <div>Berichttype:</div>
        <div>
            <select name="regels_[% message_type_fieldname %]">
                <option [% IF params.$message_type_fieldname == 'Lopende Zaken' %]selected="selected"[% END %]>Lopende Zaken</option>
                <option [% IF params.$message_type_fieldname == 'Berichtenbox' %]selected="selected"[% END %]>Berichtenbox</option>
            </select>
        </div>
    </div>

    [% IF params.$message_type_fieldname == 'Berichtenbox' %]
    [% subject_fieldname = fieldname _ '_subject' %]
    [% message_fieldname = fieldname _ '_message' %]
    <div>
        <div>Onderwerp:</div>
        <div>
            <input type="text" name="regels_[% subject_fieldname %]" value="[% params.$subject_fieldname %]">
        </div>
    </div>
    <div>
        <div>Bericht:</div>
        <div>
            <textarea rows="4" name="regels_[% message_fieldname %]">[% params.$message_fieldname %]</textarea>
        </div>
    </div>
    [% ELSE %]
    [% status_fieldname = fieldname _ '_status' %]
    [% status_name_fieldname = fieldname _ '_status_name' %]
    <div>
        <div>Status:</div>
        <div>
            <input type="text" name="regels_[% status_fieldname %]" value="[% params.$status_fieldname %]">
        </div>
    </div>
    <div>
        <div>Omschrijving van status:</div>
        <div>
            <input type="text" name="regels_[% status_name_fieldname %]" value="[% params.$status_name_fieldname %]">
        </div>
    </div>
    [% END %]
[% END %]
