<!-- here to prevent merge issues -->
<hr class="kenmerk-wijziging-divider" />
<div class="kenmerk-wijziging" data-ng-controller="nl.mintlab.case.CaseKenmerkController" data-ng-init="bibliotheekId='[% bibliotheek_id %]'" data-zs-reload-legacy-form data-zs-reload-legacy-form-on="case.kenmerk.update">


    <div class="kenmerk-wijziging-pijl-line kenmerk-wijziging-pijl"></div>
    <div class="kenmerk-wijziging-pijl-bg kenmerk-wijziging-pijl"></div>

    [% scheduled_job = c.model('DB::ScheduledJobs').find(pip_update_field_tasks.$bibliotheek_id) %]

    <div class="kenmerk-wijziging-titel">

    [% scheduled_job.format_created_by %] heeft een wijziging voorgesteld voor dit kenmerk.

    [% IF kenmerk.type == 'file'%]
        Nieuwe bestanden moeten worden geaccordeerd in de Documentintake voor deze zaak.
    [% ELSE %]

    </div>


        <div class="kenmerk-wijziging-nieuwe-waarde">
        [% PROCESS widgets/general/veldoptie_view.tt
            veldoptie_type      = kenmerk.type
            veldoptie_value     = scheduled_job.parameters.value
            veldoptie_multiple  = kenmerk.bibliotheek_kenmerken_id.type_multiple
            veldoptie_label_multiple  = kenmerk.label_multiple
        %]
        </div>

        <div class="kenmerk-wijziging-toelichting">
            [% IF scheduled_job.parameters.reason %]
            Toelichting: </strong>[% scheduled_job.parameters.reason %]</strong>
            [% ELSE %]
            Geen toelichting gegeven
            [% END %]
        </div>

        [% IF c.check_field_permission(kenmerk) && !check_queue_coworker_changes %]
        <div class="button-group kenmerk-wijziging-acties">
            <button type="button" class="button button-secondary button-small" data-ng-click="approve()">
                <i class="icon icon-font-awesome icon-ok"></i>
            </button>

            <button type="button" class="button button-secondary button-small" data-zs-confirm="decline()" data-zs-confirm-verb="Afwijzen" data-zs-confirm-label="Weet u zeker dat u deze wijzigingsaanvraag wilt afwijzen? Let op, als behandelaar bent u verantwoordelijk om dit te melden aan de aanvrager.">
                <i class="icon icon-font-awesome icon-remove"></i>
            </button>
        </div>
        [% END %]
    [% END %]
</div>
