[% USE Dumper %]
[% BLOCK case_action_row %]
    <div class="zaaktypebeheer-actie">
        [% IF action.head %]
        <h3 class="zaaktypebeheer-actie-header">[% action.head %]</h2>
        [% ELSE %]
        <input type="hidden" name="ezra_checkboxes" value="[% action.field %]" />
        <label for="[% action.field %]">
        <input class="voor_label" id="[% action.field %]" type="checkbox" name="[% action.field %]" value="1"
        [% action.value ? 'checked="checked"' : '' %]/> [% action.label %]</label>
        [% END %]
    </div>
[% END %]

<div class="zaaktypebeheer-acties" class="ztb">
    <form method="POST" action="[% formaction %]" class="zvalidate use_submit ezra_zaaktypebeheer" enctype="multipart/form-data">
        <input type="hidden" name="zaaktype_update" value="1" />
        <div class="block clearfix">
            <div class="block-header ztb-header clearfix">
                [% IF(zaaktype_id) %]
                    <div class="block-header-title">[% params.node.titel | html_entity %] -
                    [% ELSE %]
                        Zaaktype aanmaken
                    [% END %]
                        <span>Zaakacties</span>
                    </div>
            </div>
            <div class="block-content form zaaktypebeheer-acties-lijst">
                [% FOREACH action = case_action_checkboxes; PROCESS case_action_row ; END %]
                <div class="zaaktypebeheer-actie">
                    <h3 class="zaaktypebeheer-actie-header">Standaard teksten</h3>
                </div>
                <div class="zaaktypebeheer-actie">
                    <h4 class="zaaktypebeheer-acties-standaard-teksten-header">Publiek bevestigingsbericht</h4>
                    <textarea name="node.properties.public_confirmation_message" class="input_large">[% (params.node.properties.public_confirmation_message || ZOPTIONS.PUBLIC_CASE_FINISH_MESSAGE) %]</textarea>
                </div>
                <div class="form-actions form-actions-sticky clearfix">
                    <input type="button" name="goback" value="Vorige" class="go_back button-secondary button left" />

                    [% PROCESS beheer/zaaktypen/voortgang.tt %]

                    <input type="submit" value="Volgende" class="button-primary button right" />
                    <input name="destination" type="hidden" value="" />
                </div>
            </div>
        </div>
    </form>
</div>
