[% USE Scalar %]
<form name="feedback" class="ezra_no_waitstart" data-ng-controller="nl.mintlab.pip.PipFeedbackController" data-ng-init="caseId=[% zaak.id %]" data-ng-submit="submitFeedback()">
    <fieldset>
        <!--input type="hidden" name="update_element" value="notes" /-->
        <div class="pip-case-message-field">
            <p>
            Gebruik onderstaand tekstveld om een toelichting te geven op deze zaak aan de huidige
            behandelaar.
            </p>
            <textarea name="message" data-ng-model="message" data-ng-required="true" cols="60" rows="10"></textarea>
        </div>

        [% IF aanvrager_email AND template_available %]
        <div class="pip-case-message-email-copy">
            <label>
                <input type="checkbox" data-ng-model="feedbackEmail" name="feedbackEmail" /> 
                Verstuur kopie naar [% aanvrager_email %]
            </label>
        </div>
        [% END %]
    
        <div>
            <button type="submit" class="button button-primary" name="submit" data-ng-disabled="!feedback.$valid||loading">Versturen</button>
        </div>
    </fieldset>
</form>
