[% sjablonen = current_phase.manual_templates %]

[% WHILE (sjabloon = sjablonen.next) %]
    [% template_items = template_items + 1 %]

	[% sjabloon_html = BLOCK %]
		<div class="sjabloon-icon icons-zaakdossier"></div>
        <strong>[% sjabloon.naam %]</strong><br/>
        <span>Document</span>
    [% END %]

    [% IF zaak.is_afgehandeld %]
    	<a class="sjabloon docsjabloon dossier-sidebar-item">[% sjabloon_html %]</a>
    [% ELSE %]
    	<a class="sjabloon docsjabloon dossier-sidebar-item ezra_dialog"
            title="Sjabloon gebruiken"
            onclick="$('.document-list-create-from-template > button').eq(0).click();$('.tab-documents > a').click();setTimeout(function ( ) { angular.element($('.doc-template-form')[0]).scope().$apply(function ( scope ) { scope.setTemplateId([% sjabloon.id %]); }); }, 0);";
            >
           [% sjabloon_html %]
        </a>
    [% END %]
[% END %]

