/* stylesheet.css */

/* default styles for extension "tx_fileupload_pi1" */
	
/* default styles for extension "tx_felogin_pi1" */
	.tx-felogin-pi1 label {
		display: block;
	}
/* default styles for extension "tx_srfeuserregister_pi1" */
		.tx-srfeuserregister-pi1 p { margin-top: .5em; margin-bottom: 0; padding: 0 .3em; text-indent: 0; }
		.tx-srfeuserregister-pi1 h4 { margin-top: 0; padding-left: .3em; }
		.tx-srfeuserregister-pi1 legend { padding: 0 .5em; font-weight: bold; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-notice { font-style: italic; margin-bottom: 1em; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-trash { margin-bottom: 2em; }
		.tx-srfeuserregister-pi1 a { padding-left: 14px; background-image: url("../typo3conf/ext/sr_feuser_register/pi1/internal_link.gif"); background-repeat: no-repeat; background-position: 0% 60%; text-decoration:none; }
		.tx-srfeuserregister-pi1 label { margin: 0; padding: 0; }
		.tx-srfeuserregister-pi1 label span { color: #ff0000; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-error { color: #ff0000; }
		.tx-srfeuserregister-pi1 input { margin: 0; padding: 0 .5em 0 0; }
		.tx-srfeuserregister-pi1 input[type=password] { margin-right: 1em; }
		* html .tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-password { margin-right: 1em; }
		.tx-srfeuserregister-pi1 input[type=radio], .tx-srfeuserregister-pi1 input[type=checkbox] { background-color: transparent; }
		* html .tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-radio, * html .tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-checkbox { background-color: transparent; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-delete-icon { margin-left: 1em; background-color: transparent; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-delete-icon:hover { cursor: pointer; }
		.tx-srfeuserregister-pi1 a.tx-srfeuserregister-pi1-file-view { padding-left: 15px; background-image: url("../typo3conf/ext/sr_feuser_register/pi1/internal_link_new_window.gif"); background-color: transparent; background-repeat: no-repeat; font-size: .8em; margin-left: 1em; }
		.tx-srfeuserregister-pi1 ul { margin: 0; padding: 0; list-style-position: inside; }
		.tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checkboxes { list-style-type: none; }
		.tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checkboxes li { margin: 0 0 .3em 0; padding: 0; }
		.tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checkboxes li label { margin: 0; padding: 0 0 0 .5em; }
		.tx-srfeuserregister-pi1 ul.tx-srfeuserregister-multiple-checked-values li { float: left; padding: 0 2em 0 0; margin: 0; }
		.tx-srfeuserregister-pi1 dl { margin: 0; padding: 1em 0 0 0; }
		.tx-srfeuserregister-pi1 dt, .tx-srfeuserregister-pi1 dd { margin: 0; padding: 0 0 .5em 0; float: left; }
		.tx-srfeuserregister-pi1 dt { clear: both; width: 25%; text-align: right; padding-right: 1em; }
		.tx-srfeuserregister-pi1 dd { text-align: left; width: 50%; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-multiple-checkboxes dt { width: auto; padding-right: 0; }
		.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-multiple-checkboxes dd { width: auto; }
		* html .tx-srfeuserregister-pi1 dd { float: none; }
		.tx-srfeuserregister-pi1 dd p { margin-top: 0; margin-bottom: .5em; padding: 0; }
		.tx-srfeuserregister-pi1 dd label { padding: 0 1em 0 .5em; }
/* default styles for extension "tx_imagecarousel_pi1" */
.jcarousel-container { position: relative; }
.jcarousel-clip { z-index: 2; padding: 0; margin: 0; overflow: hidden; position: relative; }
.jcarousel-list { z-index: 1; overflow: hidden; position: relative; top: 0; left: 0; margin: 0; padding: 0; }
.jcarousel-list li,.jcarousel-item { float: left; list-style: none; margin: 0 10px 0 0; }
.jcarousel-next { z-index: 3; display: none; }
.jcarousel-prev { z-index: 3; display: none; }
.jcarousel-control { margin-bottom: 10px; text-align: center; }
.jcarousel-control a { font-size: 75%; text-decoration: none; padding: 3px 5px; margin: 0 5px 5px 0; border: 1px solid #fff; color: #eee; background-color: #4088b8; font-weight: bold; }
.jcarousel-control a:hover { color: #eee; }
.jcarousel-control a:focus, .jcarousel-control a:active { color: #eee; outline: none; }
.csc-textpic-intext-left .jcarousel-clip ul { padding: 0; overflow: hidden; position: relative; }
/* default styles for extension "tx_imagecarousel_pi2" */
.cloudcarousel-left, .cloudcarousel-right { display: none; background: url(/typo3conf/ext/imagecarousel/pi2/images/rotate-left.png); width: 40px; height: 40px; background-position: 0px 0px; position: absolute; top: 20px; right: 64px; }
.cloudcarousel-right { background: url(/typo3conf/ext/imagecarousel/pi2/images/rotate-right.png); right: 20px; }
.cloudcarousel-left:hover, .cloudcarousel-right:hover { background-position: 0px 40px; cursor: auto; }
.cloudcarousel-title { display: block; margin: 20px; text-transform: uppercase; margin-bottom: 10px; width: 80%; }
.cloudcarousel-alt { display: block; color: #000; margin: 20px; margin-top: 0px; }
/* default styles for extension "tx_srfreecap_pi2" */
		img.tx-srfreecap-pi2-image { margin-left: 1em; margin-right: 1em; vertical-align: middle; }
		.tx-srfreecap-pi2-accessible-image { vertical-align: middle; }
		.tx-srfreecap-pi2-accessible-link { width: 10em; float: right; vertical-align: middle; margin-right: 7em;}
		.tx-srfreecap-pi2-cant-read { font-size: .9em; color:#35006d; }
		.tx-srfreecap-pi2-cant-read a:link { background-color:transparent; font-weight:bold; text-decoration:none; }
/* default styles for extension "tx_cssstyledcontent" */
	/* Captions */
	DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
	DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
	DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

	/* Needed for noRows setting */
	DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

	/* Border just around the image */
	DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG, DIV.csc-textpic-border DIV.csc-textpic-single-image IMG {
		border: 2px solid black;
		padding: 0px 0px;
	}

	DIV.csc-textpic-imagewrap { padding: 0; }

	DIV.csc-textpic IMG { border: none; }

	/* DIV: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

	/* UL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }

	/* DL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; } /* FE-Editing Icons */
	DL.csc-textpic-image { margin: 0; }
	DL.csc-textpic-image DT { margin: 0; display: inline; }
	DL.csc-textpic-image DD { margin: 0; }

	/* Clearer */
	DIV.csc-textpic-clear { clear: both; }

	/* Margins around images: */

	/* Pictures on left, add margin on right */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-right: 10px;
	}

	/* Pictures on right, add margin on left */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}

	/* Pictures centered, add margin on left */
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; }

	/* Space below each image (also in-between rows) */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 5px; }
	DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 5px; display: block; }
	DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }
	DIV.csc-textpic DIV.csc-textpic-single-image IMG { margin-bottom: 5px; }
	
	/* No margins around the whole image-block */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

	/* Add margin from image-block to text (in case of "Text w/ images") */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
		margin-right: 10px !important;
	}
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
		margin-left: 10px !important;
	}

	/* Positioning of images: */

	/* Above */
	DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

	/* Center (above or below) */
	DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

	/* Right (above or below) */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
	DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

	/* Left (above or below) */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
	DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

	/* Left (in text) */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

	/* Right (in text) */
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

	/* Right (in text, no wrap around) */
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */

	/* Left (in text, no wrap around) */
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */
	
	DIV.csc-textpic DIV.csc-textpic-imagerow-last { margin-bottom: 0; }

	/* Browser fixes: */

	/* Fix for unordered and ordered list with image "In text, left" */
	.csc-textpic-intext-left ol, .csc-textpic-intext-left ul {padding-left: 40px; overflow: auto; height: 1%; }
/* default styles for extension "tx_ncgovsmoelenboek_pi1" */
		.tx-ncsmoelenboek-pi1-single .image {
			float: right;
		}

		.tx-ncsmoelenboek-pi1-edit-image {
			border: 1px solid #ccc;
			margin-bottom: 15px;
		}
		
		.center {
			text-align: center;
		}
		.right {
			text-align: right;
		}
		
		.switch-mode {
			text-align: right;
		}
		.switch-mode a {
			text-decoration: none;
		}
		.switch-mode a img {
			border: none;
		}

/* end stylesheet.css */

/***********************************************************
Title:     Main | Emile Blume - Netcreators.com
************************************************************/

/* Global reset v1.0 | 20081023 //////////////////////////////////////////////////////////////////////*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, strong, u, i, em, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background:transparent;
}

a img { border: none; }
abbr, acronym, .help { border-bottom:1px dotted #333; cursor:help; }
blockquote, q { quotes:none;}
blockquote { padding: 1em; background: #f3f3f3; margin-bottom: 1.5em; }
blockquote p { margin-bottom: 0; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content:none; }

dd { margin-left:1em;}
sup, sub { font-size:x-small; vertical-align:top; }
sub { vertical-align:bottom;}
table {	border-collapse:collapse; border-spacing:0; empty-cells:show; }
table td { vertical-align:top; }
.csc-menu dd { margin-left:0; }
.hidden { display:none; }
.bold { font-weight:bold; }
.right { float:right; }

/* Base ////////////////////////////////////////////////////////////////////////////////*/
body { 
	background: #fff url(../img/bg-body.gif) no-repeat center top !important;
	color: #333333;
	font: normal 75%/1.5 Arial,Verdana,Helvetica,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color:#09384b;
	line-height:1em;
	font-weight:normal; 
}
h1 { font-size: 1.5em; }
h2{
	font-size:1.4em;
}
h3 { 
	color: #073d7b; 
	
	font-size: 1.6em; 
	font-weight: normal;
	margin-bottom:0;
}
h4 { color: #333; font-size: 1em; font-weight: bold; }
h5 { font-size: 1em; }
h6 { font-size: 0.9em; font-weight:bold; }
h4, h5, h6 { margin-bottom: 0.938em; }

p { font-size: 1em; margin-bottom:1.5em; }
pre, code, kbd, samp { font-size:1.5em; }
pre code { font-size:1em; }

a { color:#0099FF; text-decoration:none; }
a:hover { color:#073D7B;text-decoration: underline; }
a.special {
	background:url(../img/arrow-red.gif) no-repeat left 4px;
	color:#4D4D4D;
	padding-left:10px;
}

hr {
	clear:both;
	display:block;
	background: url(../img/dotted.gif) repeat-x left top;
	border: 0;
	height: 1px;
	margin-bottom: 10px;
}

.csc-frame-rulerAfter, .csc-frame-rulerBefore { 
	margin-bottom: 0.7em;
	padding-bottom:0.1em;
	overflow:hidden;
	float:left;
	display:block;
	width:100%;
}

#right .csc-frame-rulerAfter, #right .csc-frame-rulerBefore {
	position:relative;
	left:-10px;
	padding-left:10px;
	width:230px;
}
#right .csc-frame-rulerAfter {
	border-bottom:4px solid #CCCCCC;
	padding-bottom:10px;
}
#right .csc-frame-rulerBefore {
	border-top:4px solid #CCCCCC;
	padding-top:10px;
}

ol, ul { 
	list-style:disc;
	margin: 0 0 1.3em;
	padding: 0 0 0 1.3em;
}

ol { 
	list-style:decimal; 
	/*list-style-position:inside; 
	padding: 0;*/
}

.hidden { display: none; }
.unhidden { display: block; }

#logo h2 {padding:0;margin:0;}

/* table with borders //////////////////////////////////////////////////*/
table.border th, table.border td { border:0px solid #333; padding:0.3em; }

td { height:auto; padding:0.3em; text-align:left;border:1px solid #CCC;}
td p { margin:0; }
caption, th { padding:0.3em; }

.contenttable td, .contenttable th { border:1px solid #E4E4E4; padding:0.6em; }

/* Layout 3 cols ///////////////////////////////////////////////////////////////*/
#container {
	margin: auto;
	width: 962px;
	position: relative;	
}

#main, #header, #left, #center, #right {
	float: left;
	display: inline; /* workaround for IE6*/
}

#main {
	background: url(../img/bg-main.gif) no-repeat left bottom; 
	padding:0 1px;
}
#description, #skip, .hide { display:none;}

#header{
	height:175px;
	position:relative;
	width:960px;
	/* TODO
	background: url(../img/bg-header.gif) repeat-x left top;
	*/
}
#header-bottom {
	height:10px;
	width:240px;
	left:721px;
	position:absolute;
	top:165px;
	background: url(../img/bg-header-bottom.gif) no-repeat left top;
}

#header-image {
	height:214px;
	width:960px;
	overflow:hidden;
	top:25px;
	position:absolute;
	z-index:1;
}

#header-text {
	height:12px;
	width:200px;
	right:12px;
	top:6px;
	position:absolute;
	z-index:300;
}

#header-text p {
	background:url(../img/arrow-red-down.gif) no-repeat left 5px;
	display:block;
	padding-left:12px;
	color:#706D78; 
	font-size:9px;
	margin:0;
	height:12px;
	width:200px;
}

#logo {
	height:78px;
	width:248px;
	top:35px;
	position:absolute;
	z-index:300;
}

.align-center { text-align:center; }
.align-right { text-align:right; }

#tools {
	left:0;
	position:absolute;
	top:0;
	font-size:11px;
	padding:9px 7px 7px 0;
	color:#858585;
}

/* Left  ////////////////////////////////////////////////////////////////////////*/
#left { 
	width: 172px;
	margin-top:15px; 
	background: url(../img/dotted.gif) repeat-x left top;
	padding-top:10px;
}

/* Center ///////////////////////////////////////////////////////////////////////*/
#center{
	min-height: 300px;
	height: auto !important;
	height: 300px;
	padding:10px; 
	margin:0 5px 0 0;
	width: 522px;
	background: url(../img/dotted.gif) repeat-x 2px 15px;
}
/* Right ////////////////////////////////////////////////////////////////////////*/
#right { padding:0 10px; width:220px; }
#right h2, #right h3, #right h4, #right h5, #right h6 {color:#333;}
#right h5, #right h6 {
	font-size:1em;
	font-weight:bold;
	margin-bottom:0.3em;	
}
#right p { margin-bottom:0.6em; }
#right ul {
	list-style:none;
	margin:0 0 5px 0;
	padding:0;
}

#rightOne #c14802 {
	position:relative;
	left:-10px;
	padding:15px 10px 2px;
	background:#073D7B url(../img/bg-login.gif) repeat-y left top;
	color:#fff;
	font-weight:bold;
	width:220px;
	margin-bottom:10px;
	padding-bottom:0;
}
#rightOne #c14802 h4 { 
	color:#fff;
	font-size:1.2em;
	font-weight:bold;
	background:none;
	margin-bottom:0;
	padding-bottom:0;
	
}
#rightOne #c14802 a.internal-link {
	position:relative;
	left:-10px;
	top:7px;
	background: url(../img/button-login.gif) no-repeat left top;
	width:169px;
	height:26px;
	padding:7px 0 15px 10px;
	color:#333333;
	display:block;
	text-decoration:none;
	font-size:12px;
}

#rightTwo {
	margin-left:18px; 
	width:190px;
}

/* Elementen rechter kolom --------------------*/
/* NAW */
#c44825 {
	overflow:hidden;
	background:url(../img/dotted.gif) repeat-x left bottom;
	position:relative;
	left:-10px;
	margin-bottom:10px;
	padding:0 0 5px 10px;
	width:230px;
}
#c44825 div {
	float:left; 
	width:50%;
}

/* OPENINGSTIJDEN */
#c14799 a {
	padding-left:18px;
	background:url(../img/sprite.gif) no-repeat left -145px;
}

/* TABS RIGHT */
#right .tx-jfmulticontent-pi1 {
	position:relative;
	left:-10px;
	padding-left:10px;
	background: url(../img/bg-tabs.gif) no-repeat left 29px;
	width:230px;
	clear:both;
}

/* Footer ////////////////////////////////////////////////////////////////////////*/
#footer-container {
	background:#F3F3F3 url(../img/bg-footer.gif) repeat-x left -147px;
	clear:both;
	margin:0;
	overflow:hidden;
}
#footer {
	margin:0 auto;
	padding:10px;
	width:960px;
	color:#000;
}
#footer a {color:#c0cbff;}
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer a {
	color:#666;
	width:175px;
}
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
	background: url(../img/dotted.gif) repeat-x left bottom;
	margin-bottom:0.7em;
	padding-bottom:0.7em;
}
#footer a { display:block;padding:2px 0; }
#footer a:hover { color:#333; }
#footer h5, #footer h6 {font-size:1em; font-weight:bold;}
#footer .spacing {padding:0;}
#footer div {float:left;}
#footer .frame-01 {
	padding-right:10px;
	width: 182px;
}

#footer .dmailsub-footer { 
	padding:15px 0 0;
	border-bottom: 1px solid #DDD;
	border-top :1px solid #DDD;
	width:960px;
	display:block;
	position:relative;
	margin:15px 0;
}
#footer .dmailsub-footer h5 {
	width:auto;
	float:left;
	font-weight:normal;
	font-size:1.4em;
	color:#333;
	background:none;
	text-align:left;
	margin-bottom:0;
	padding-right:15px;
}
#c46586 {margin-bottom:5px;}
#projecten #c46586 {margin-bottom:34px;}
#footer .dmailsub-footer .button, #projecten #footer .dmailsub-footer .button  {
	background: url(../img/bg-subscribe-button.gif) no-repeat left top;
	border:0 none;
	display:block;
	font-weight:bold;
	height:27px;
	width:155px;
	padding-bottom:8px;
	line-height:2em;
	float:left;
	color:#fff;
	text-align:center;
	position:relative;
	top:-5px;
}

/* Footer plannen en projecten ////////////////////////*/
#projecten #footer #c44734 { margin:0 0 40px 0; }
#projecten #footer .dmailsub-footer {
	position:relative;
	left:0;
	top:0;
}
#projecten #footer a {
	display:inline;
	width:auto;
}
#projecten #footer-container {
	background:url(../img/bg-footer.gif) repeat-x left -135px #F3F3F3;	
}
#projecten #footer-container .news-list-container { width:685px;}
#projecten #footer-container .news-date {
	background:none;
	color:#ABABBC;
	float:left;
	font-weight:bold;
	height:auto;
	text-align:left;
	width:80px;
	line-height:1em;
}
#projecten #footer #c44903 {
	width:685px;
	padding-right:15px;
	display:block;
}
#projecten #footer #c44903 h4 {width:685px;}
#projecten #footer h4, #projecten #footer h5 {display:block;}
#projecten #footer #c44904 h4, #projecten #footer h5, #projecten #footer a {width:auto;}
#projecten #footer .news-list-container h5 {
	background:none;
	margin-bottom:0.938em;
	padding-bottom:0;
}
#projecten #footer .news-list-container h5 a {
	padding:0;
	font-weight:normal;
	color:#666;
}
#projecten #footer .news-list-container h5 a:hover {
	color:#333;
}
#projecten #footer .news-footer-more a, #projecten #footer .footer-more-naw {
	background:url(../img/sprite.gif) no-repeat -7px -371px;
	clear:both;
	display:block;
	float:left;
	padding:3px 13px;
}
#projecten #footer .news-footer-more a:hover, #projecten #footer .footer-more-naw:hover { 
	background-position:-7px -92px;
}

/* Projecten /////////////////////////////////////////////*/
#projecten .csc-textpic-intext-left-nowrap .csc-textpic-imagewrap, 
#projecten .csc-textpic-intext-right-nowrap .csc-textpic-imagewrap {
	padding-top:1.5em;
}

#c44904 {width:260px;}

#copy {
	clear:both;
	font-size:0.8em;
	padding: 20px 0;
	text-align:left;
	width:100%;
	color:#666666;
}

#print a {
	background:url(../img/print.gif) no-repeat left top;
	height:42px;
	width:45px;
	display:block;
	top:205px;
	right:230px;
	position:absolute;
	text-indent:-9999px;
}


/* Frames ////////////////////////////////////////////////////////////////////////*/
#center .spacing {padding:0;}
#center .frame-01, #center .frame-02, #center .frame-03 {float:left;padding-right:10px;padding-bottom:10px;}
#center .frame-03 {padding-right:0;}
.frame-01 {width:465px;}
.frame-02, .frame-03 {width:230px;}
#center .frame-01 h3, #center .frame-01 h4, #center .frame-01 h5, #center .frame-01 h6,
#center .frame-02 h3, #center .frame-02 h4, #center .frame-02 h5, #center .frame-02 h6,
#center .frame-03 h3, #center .frame-03 h4, #center .frame-03 h5, #center .frame-03 h6,
#center .frame-01 h3 a, #center .frame-01 h4 a, #center .frame-01 h5 a, #center .frame-01 h6 a,
#center .frame-02 h3 a, #center .frame-02 h4 a, #center .frame-02 h5 a, #center .frame-02 h6 a,
#center .frame-03 h3 a, #center .frame-03 h4 a, #center .frame-03 h5 a, #center .frame-03 h6 a {
	background:url(../img/dotted.gif) repeat-x left bottom;
	padding-bottom:1em;
	margin-bottom:0.75em;
	color:#333333;
	font-size:1.2em;
	font-weight:normal;
	overflow:hidden;	
}
#center .frame-01 h3 a, #center .frame-01 h4 a, #center .frame-01 h5 a, #center .frame-01 h6 a,
#center .frame-02 h3 a, #center .frame-02 h4 a, #center .frame-02 h5 a, #center .frame-02 h6 a,
#center .frame-03 h3 a, #center .frame-03 h4 a, #center .frame-03 h5 a, #center .frame-03 h6 a {
	background:none;
	padding:0;
	margin:0;
	overflow:hidden;
}
#center .frame-02 p, #center .frame-03 p { margin:0; }
#home #center .frame-02 p, #home #center .frame-03 p { margin:0 0 10px 0;clear:both; }
#home #center .frame-02 p {float:left;}
#center .frame-02 p a, #center .frame-03 p a, #center .frame-02 li a, #center .frame-03 li a  {
	background:url(../img/sprite.gif) no-repeat -7px -371px;
	display:block;
	clear:both;
	float:left;
	padding-bottom:10px;
	padding:3px 13px;
}
#center .frame-02 p a:hover, #center .frame-03 p a:hover, #center .frame-03 p a.more:hover { background-position:-7px -92px; }
#center .frame-02 .csc-default, #center .frame-03 .csc-default {
	background:url(../img/dotted.gif) repeat-x left top;
	clear:both;
	margin-top:10px;
	overflow:hidden;
	padding-top:10px;
}
#center .frame-02 .csc-default h4, #center .frame-03 .csc-default h4 {
	background:none;
	margin-bottom:0;
}
#center .frame-02 .csc-default ul, #center .frame-03 .csc-default ul {
	padding:0;
}

#projecten #center .frame-02 .csc-default h4, #projecten #center .frame-03 .csc-default h4 {
	background:url(../img/dotted.gif) repeat-x left bottom;
	margin-bottom: 0.75em;
	font-size:1em;
	padding-bottom:1em;
	display:block;
	line-height:2em;
}

#right .frame-01 {
	border:1px solid #cbcbcb;
	background:#00354a;
	color: #fff;
}
#right .frame-01 h1, #right .frame-01 h2, #right .frame-01 h3, #right .frame-01 h4, 
#right .frame-01 h5, #right .frame-01 h6 {
	color:#fff;
	background: #94006a url(../img/frame-header-bg.gif) repeat-x top left;
	margin:0;
	padding:4px;
	width:236px;
	position:relative;
	left:-6px;
	top:-6px;		
}
#right .frame-01, #right .frame-02 {
	margin-left:-10px;
	padding-bottom:5px;
	clear:both;
	margin-bottom:4px;
	width:248px;
}
.spacing {padding:8px;}
#right .frame-01 .pdc-label-search {
	font-size:1.313em;
	font-weight:bold;
	width:auto;
}
#right .frame-01 input.pdc-search-submit, #right .frame-01 input#pdc-search-burgerloket { 
	border:0;
	height:30px;	
}
#pdc-searchform {margin-bottom:0em;}
#right .frame-01 input#pdc-search-burgerloket {
	background: url(../img/frame1-pdc-search.gif) no-repeat left top;
	width:163px;
	padding:0 5px;
	color:#000;
	line-height:2em;
}
#right .frame-01 input.pdc-search-submit { 
	background: url(../img/frame1-pdc-search-btn.gif) no-repeat top left;
	width:52px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
}

#right .frame-01 input.pdc-search-submit:hover {background-position:bottom left;}
#right .frame-01 input.pdc-search-submit:hover {cursor:pointer;}

#right h4 {
	font-size:1.2em;
	font-weight:normal;
	padding-bottom:1em;
	background:url(../img/dotted.gif) repeat-x left bottom;
	position:relative;
	left:-10px;
	padding-left:10px;
	width:230px;
}

.titel {display: none;}
.frame-afbeelding-met-quickmenu .csc-textpic-left div.csc-textpic-imagewrap {
	position:absolute;
	height:200px;
	width:710px;	
}

.frame-afbeelding-met-quickmenu { margin-bottom:15px;}
.quickmenu-bg {
	display:block;
	height:200px;
	width:710px;
	overflow:hidden;
	position:relative;
}
/*
.quickmenu-bg .csc-textpic { height:200px;}
.quickmenu-bg div.csc-textpic div.csc-textpic-single-image img { margin-bottom:0; }
	position:relative;
	padding-left:475px;
	margin:0;
*/
.quickmenu-bg .csc-textpic-text {
	background: url(../img/bg-quickmenu.png) no-repeat left top;
	display:block;
	top:-215px;
	top:0;
	left:0;
	position:absolute;
	padding:15px 0 0 475px;
	height:185px;
	width:235px;
	z-index:10;
}
.quickmenu-bg .csc-textpic-text h3 {
	color:#fff;
	font-size:1.3em;
	margin-bottom:1em;
	padding:0;
}
.quickmenu-bg .csc-textpic-text ul { 
	list-style-type:none; 
	padding:0;
	margin:0;
}
.quickmenu-bg .csc-textpic-text a {
	color:#fff;
	text-decoration:none;
	line-height:2em;
}
.quickmenu-bg .csc-textpic-text a:hover {
	color:#0099FF;
	text-decoration:underline;
}
.frame-afbeelding-portal {
	position:relative;
	height:200px;
	width:710px;	
}
.frame-afbeelding-portal .csc-textpic-above {
	float:left;
	position:absolute;
	width:710px;
	height:20px;
}
.frame-afbeelding-portal .csc-textpic-clear {
	background:url(../img/bg-portal-image.gif) no-repeat left top;
	position:absolute;
	height:200px;
	width:710px;	
}

/* Vaste elementen rechterkolom (insert records) ////////////////////////////////////*/
#c44866 h4 {margin-bottom:0;}
#c44866 p {
	position:relative;
	left:-10px;
	padding:10px 0 10px 10px;
	margin:0;
	background: url(../img/dotted.gif) repeat-x left bottom;	
}
#c44866 a {padding-left:30px;display:block;}
.aanvragen-digid {
	background: url(../img/icon-digid.gif) no-repeat left top;
}
.aanvragen-status {
	background: url(../img/icon-status.gif) no-repeat left top;
}
.aanvragen-agenda {
	background: url(../img/icon-agenda.gif) no-repeat left top;
}

/* Sitemap ////////////////////////////////////////////*/
.csc-menu-4 dt a {
	background:url(../img/sprite.gif) no-repeat -7px -371px;
	clear:both;
	display:block;
	padding:3px 13px;
}
.csc-menu-4 dt a:hover {
	background-position:-7px -92px;
	color:#073D7B;
}
.csc-menu-4 dd {
	margin-bottom:15px;
}

/* Nieuwsoverzicht RIS /////////////////////////////*/
.home.ris .news-list-item-ris {float:left;clear:both;width:100%;}
.home.ris .news-list-item-ris a {
	background: url(../img/sprite.gif) no-repeat -7px -371px;
	clear: both;
	display: block;
	float: left;
	padding: 3px 13px;
}

/* menu.css */

/************************************************************
Title:     Navcontainer | Emile Blume - Netcreators.com
************************************************************/
.skiplink { display:none; }
#navigation ul, #navigation li, .csc-menu li,
#left ul, #left li, #footer ul, #footer li {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.csc-menu ul {
	list-style: none;
	margin: 0;
	padding-bottom: 1.5em;
}

#navigation li.last, #navigation li.last { border: none;}

/* Browse Aloud ////////////////////////////////////////////*/
#ba { height:33px; width:100px; overflow:hidden; left:0; top:0; position:absolute; z-index:1000;}
#container #__ba__button { background:none -9999px -99999px; height:33px; width:96px; padding:0; }
#container #__ba__button a img, #container #__ba__button a.logo, #container #__ba__title { display:none; }
#container #__ba__button a img#__ba_icon { display:block; left:70px; top:5px; position:absolute; }


/* Main navigation /////////////////////////////////////////*/
/* remove all list stylings */
#nav-top ul {
	margin: 0; padding: 0; border: 0;
	list-style-type: none; display: block;
}

#nav-top li {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	width:auto;
}

#nav-top li:hover { z-index:10000; white-space:normal;}

/* -- float.clear.END --  */
#nav-top {
	background:#AAC027;
	top:114px;
	position:absolute;
	height:41px;
	width:960px;
	z-index:300;
	color:#073D7B;
	left:0;
	font-size: 12px;
}

#nav-top ul { 
	padding-left:5px; 
	width:960px;
	padding-bottom:6px;
}
#nav-top ul li { background:transparent; float:left; }
#nav-top ul li a, #nav-top .link-inactive span  {
	color: #073D7B;
	display: block;
	text-decoration: none;
	cursor: pointer;
	width:auto;
	font-size:1.2em;
	font-weight:bold;
	background:url(../img/sprite.gif) no-repeat right -306px; 
	height:41px;
	margin-right:0;
}

#nav-top a span, #nav-top .link-inactive span { 
	display: block;
	padding:6px 20px 0 20px;
	line-height:30px;
	height:32px;
	width:auto;
}

#nav-top a:hover { background:#fff; color:#073D7B; }
#nav-top a:hover span  { color:#073D7B; }

#nav-top a.active, #nav-top a.current, #nav-top a.active:hover, 
#nav-top a.current:hover, #home #nav-top li.first a {
	background:#fff url(../img/mm-bg-left.gif) no-repeat left top;
	height:41px;
}

#nav-top a.active span, #nav-top a.current span, #nav-top a.active:hover span, 
#nav-top a.current:hover span, #home #nav-top li.first a span {
	color:#073D7B;
	background:url(../img/mm-bg-right.gif) no-repeat right top;
	height:35px;
}

#nav-top li { height:1%; }

/* Meta navigation ///////////////////////////////////////////*/
#nav-meta {
	background: url(../img/bg-meta.gif) no-repeat left top #073d7b;
	height:33px;
	right:1px;
	top:0px;
	position:absolute;
	width:560px;
	z-index: 1;
}

#nav-meta li { display:inline; }
.print {
	position:absolute;
	left:295px;
	top:9px;	
}
#nav-meta li a {
	background:url(../img/pipe.gif) no-repeat right 10px;
	color: #cdd8e5;
	display:block;
	font-size:11px;
	height:18px;
	padding: 7px 7px 0;
	text-decoration:none;
	float:left;
	border-top:0.25em solid #073D7B;
}
#nav-meta li.first a
#nav-meta li a.current { color:#95006b;text-decoration:none;}
#nav-meta li a:hover, #nav-meta li a.active, #nav-meta li a.current { 
	color:#fff; 
	text-decoration:none; 
	border-top: 0.25em solid #b1b72d;	
}

/* Nav sub ////////////////////////////////////////////////////////////////////*/
#right .csc-menu li a {
	background:url(../img/sprite.gif) no-repeat left -92px;
	display:block;
	font-size:1em;
	height:auto;
	line-height:1em;
	padding:5px 7px 5px 18px;
}
#nav-sub li a, #left .csc-menu li a {
	background:url(../img/sprite.gif) no-repeat -7px -92px;
	display:block;
	font-size:1em;
	height:auto;
	line-height:1em;
	padding:5px 10px 5px 11px;
}
#right .csc-menu li a:hover {
	text-decoration:underline;
	background:#f5f5f5 url(../img/sprite.gif) no-repeat left -92px;
}
#nav-sub li a:hover, #left .csc-menu li a:hover {
	text-decoration:underline;
	background:#f5f5f5 url(../img/sprite.gif) no-repeat -7px -92px;
}
#nav-sub li a.current, #nav-sub li a.active {
	background:#f5f5f5;
	color:#073d7b;
}

#nav-sub li ul { background:#FFF; }
#nav-sub li li a { 
	background:#FFF url(../img/arrow-gray.gif) no-repeat 7px 8px;
	padding: 2px 4px 2px 20px; 
}

#nav-sub li li a:hover, #nav-sub li li a.active, 
#nav-sub li li a.current { 
	background:#FFF url(../img/arrow-gray.gif) no-repeat 7px 8px;
	color:#D52709; 
}

/* Breadcrumb navigation ////////////////////////////////////////////////////////////////////*/
#bread {
	color:#666;
	display:block;
	font-size:0.9em;
	font-weight:bold;
	left:0;
	padding:5px 10px 5px 0;
	position:absolute;
	top:165px;
	width:700px;
	z-index:900;
	background: url(../img/bg-bread.gif) repeat-x left top;
}
#bread * {color:#666; margin: 0.3em;}
#bread a {color:#666666; text-decoration:underline;font-weight:normal;}
#bread a:hover {color:#0099FF;}

/* Anchor tag (quiet) ////////////////////////////////////////////////////////////////////*/
.anchor { float: left; }

/* nav-subpagina 3de niveau ///////////////////////////////*/
#nav-subpagina ul {
	border-bottom:3px solid #00354a;
	list-style-type:none;
	margin:0 0 10px;
	overflow:hidden;
	padding:0 0 10px;
}
#nav-subpagina li {float:left;width:33%;display:block;}
#nav-subpagina li a {
	background:url(../img/arrow.gif) no-repeat 5px 7px;
	display:block;
	padding:2px 0 2px 17px;
	margin-right:20px;
	overflow:hidden;
}
#nav-subpagina li a:hover {
	background:#95006B url(../img/arrow-white.gif) no-repeat 5px 7px;
	color:#fff;
	text-decoration:none;
}

/* special colouring for "Main menu:", and for "xx submenu" items in ADxMenu
   placed here to clarify the terminology I use when referencing submenus in posts */
.menu>li:first-child>a, .menu li + li + li li:first-child>a {
	/*color: #FFF;*/
}

/* Fix for IE5/Mac \*//*/
.menu a, .pdc-nav-tabs a { float: left;}
/* End Fix */

/* additional styling pdc menu ///////////////////*/
/*.pdc-nav-tabs {position:absolute; top: 4px; left:78px; }*/
.pdc-nav-tabs {position:absolute; top: 4px; left:178px; }
.pdc-nav-tabs li {float: left; }
.link-inactive span {color: #f2c4bc; }

/* end menu.css */

/************************************************************
Title:     Navcontainer | Emile Blume - Netcreators.com
************************************************************/
.skiplink { display:none; }
#navigation ul, #navigation li, .csc-menu li,
#left ul, #left li, #footer ul, #footer li {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.csc-menu ul {
	list-style: none;
	margin: 0;
	padding-bottom: 1.5em;
}

#navigation li.last, #navigation li.last { border: none;}

/* Browse Aloud ////////////////////////////////////////////*/
#ba { height:33px; width:100px; overflow:hidden; left:0; top:0; position:absolute; z-index:1000;}
#container #__ba__button { background:none -9999px -99999px; height:33px; width:96px; padding:0; }
#container #__ba__button a img, #container #__ba__button a.logo, #container #__ba__title { display:none; }
#container #__ba__button a img#__ba_icon { display:block; left:70px; top:5px; position:absolute; }


/* Main navigation /////////////////////////////////////////*/
/* remove all list stylings */
#nav-top ul {
	margin: 0; padding: 0; border: 0;
	list-style-type: none; display: block;
}

#nav-top li {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	width:auto;
}

#nav-top li:hover { z-index:10000; white-space:normal;}

/* -- float.clear.END --  */
#nav-top {
	background:#AAC027;
	top:114px;
	position:absolute;
	height:41px;
	width:960px;
	z-index:300;
	color:#073D7B;
	left:0;
	font-size: 12px;
}

#nav-top ul { 
	padding-left:5px; 
	width:960px;
	padding-bottom:6px;
}
#nav-top ul li { background:transparent; float:left; }
#nav-top ul li a, #nav-top .link-inactive span  {
	color: #073D7B;
	display: block;
	text-decoration: none;
	cursor: pointer;
	width:auto;
	font-size:1.2em;
	font-weight:bold;
	background:url(../img/sprite.gif) no-repeat right -306px; 
	height:41px;
	margin-right:0;
}

#nav-top a span, #nav-top .link-inactive span { 
	display: block;
	padding:6px 20px 0 20px;
	line-height:30px;
	height:32px;
	width:auto;
}

#nav-top a:hover { background:#fff; color:#073D7B; }
#nav-top a:hover span  { color:#073D7B; }

#nav-top a.active, #nav-top a.current, #nav-top a.active:hover, 
#nav-top a.current:hover, #home #nav-top li.first a {
	background:#fff url(../img/mm-bg-left.gif) no-repeat left top;
	height:41px;
}

#nav-top a.active span, #nav-top a.current span, #nav-top a.active:hover span, 
#nav-top a.current:hover span, #home #nav-top li.first a span {
	color:#073D7B;
	background:url(../img/mm-bg-right.gif) no-repeat right top;
	height:35px;
}

#nav-top li { height:1%; }

/* Meta navigation ///////////////////////////////////////////*/
#nav-meta {
	background: url(../img/bg-meta.gif) no-repeat left top #073d7b;
	height:33px;
	right:1px;
	top:0px;
	position:absolute;
	width:560px;
	z-index: 1;
}

#nav-meta li { display:inline; }
.print {
	position:absolute;
	left:295px;
	top:9px;	
}
#nav-meta li a {
	background:url(../img/pipe.gif) no-repeat right 10px;
	color: #cdd8e5;
	display:block;
	font-size:11px;
	height:18px;
	padding: 7px 7px 0;
	text-decoration:none;
	float:left;
	border-top:0.25em solid #073D7B;
}
#nav-meta li.first a
#nav-meta li a.current { color:#95006b;text-decoration:none;}
#nav-meta li a:hover, #nav-meta li a.active, #nav-meta li a.current { 
	color:#fff; 
	text-decoration:none; 
	border-top: 0.25em solid #b1b72d;	
}

/* Nav sub ////////////////////////////////////////////////////////////////////*/
#right .csc-menu li a {
	background:url(../img/sprite.gif) no-repeat left -92px;
	display:block;
	font-size:1em;
	height:auto;
	line-height:1em;
	padding:5px 7px 5px 18px;
}
#nav-sub li a, #left .csc-menu li a {
	background:url(../img/sprite.gif) no-repeat -7px -92px;
	display:block;
	font-size:1em;
	height:auto;
	line-height:1em;
	padding:5px 10px 5px 11px;
}
#right .csc-menu li a:hover {
	text-decoration:underline;
	background:#f5f5f5 url(../img/sprite.gif) no-repeat left -92px;
}
#nav-sub li a:hover, #left .csc-menu li a:hover {
	text-decoration:underline;
	background:#f5f5f5 url(../img/sprite.gif) no-repeat -7px -92px;
}
#nav-sub li a.current, #nav-sub li a.active {
	background:#f5f5f5;
	color:#073d7b;
}

#nav-sub li ul { background:#FFF; }
#nav-sub li li a { 
	background:#FFF url(../img/arrow-gray.gif) no-repeat 7px 8px;
	padding: 2px 4px 2px 20px; 
}

#nav-sub li li a:hover, #nav-sub li li a.active, 
#nav-sub li li a.current { 
	background:#FFF url(../img/arrow-gray.gif) no-repeat 7px 8px;
	color:#D52709; 
}

/* Breadcrumb navigation ////////////////////////////////////////////////////////////////////*/
#bread {
	color:#666;
	display:block;
	font-size:0.9em;
	font-weight:bold;
	left:0;
	padding:5px 10px 5px 0;
	position:absolute;
	top:165px;
	width:700px;
	z-index:900;
	background: url(../img/bg-bread.gif) repeat-x left top;
}
#bread * {color:#666; margin: 0.3em;}
#bread a {color:#666666; text-decoration:underline;font-weight:normal;}
#bread a:hover {color:#0099FF;}

/* Anchor tag (quiet) ////////////////////////////////////////////////////////////////////*/
.anchor { float: left; }

/* nav-subpagina 3de niveau ///////////////////////////////*/
#nav-subpagina ul {
	border-bottom:3px solid #00354a;
	list-style-type:none;
	margin:0 0 10px;
	overflow:hidden;
	padding:0 0 10px;
}
#nav-subpagina li {float:left;width:33%;display:block;}
#nav-subpagina li a {
	background:url(../img/arrow.gif) no-repeat 5px 7px;
	display:block;
	padding:2px 0 2px 17px;
	margin-right:20px;
	overflow:hidden;
}
#nav-subpagina li a:hover {
	background:#95006B url(../img/arrow-white.gif) no-repeat 5px 7px;
	color:#fff;
	text-decoration:none;
}

/* special colouring for "Main menu:", and for "xx submenu" items in ADxMenu
   placed here to clarify the terminology I use when referencing submenus in posts */
.menu>li:first-child>a, .menu li + li + li li:first-child>a {
	/*color: #FFF;*/
}

/* Fix for IE5/Mac \*//*/
.menu a, .pdc-nav-tabs a { float: left;}
/* End Fix */

/* additional styling pdc menu ///////////////////*/
/*.pdc-nav-tabs {position:absolute; top: 4px; left:78px; }*/
.pdc-nav-tabs {position:absolute; top: 4px; left:178px; }
.pdc-nav-tabs li {float: left; }
.link-inactive span {color: #f2c4bc; }


/* extensions.css */

/************************************************************
Title:     Extensions | Emile Blume - Netcreators.com
************************************************************/

/* Tools ///////////////////////////////////////////////*/
#tools div { float:left; }
#tools a { 
	color:#858585;
	padding:2px 30px 2px 10px;
}
#tools a:hover { 
	color:#333;
	text-decoration:none;
}
#tools .browsealoud a {
	background:url(../img/sprite.gif) no-repeat 80px 4px;
	border-right:1px solid #CCCCCC;
	padding:2px 36px 2px 0px;
}
.rss a {
	background:url(../img/sprite.gif) no-repeat 40px -45px;
	/*border-right:1px solid #CCCCCC;*/
}
.print a {
	border-left:1px solid #CCCCCC;
	margin-left:10px;
}
#tools {z-index:999;}
#tools .sitemap {
	position:absolute;
	right:-635px;
	top:60px;
	z-index:900;
	padding:0;
}
#tools .sitemap a {padding:0;}
#tools .sitemap a:hover { text-decoration:underline; }

/* FONTSIZE ////////////////////////*/
#fontsize { padding-left:10px; }
#fontsize span { float:left; }
#fontsize ul, #fontsize li {
	display:inline;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
}
#fontsize ul { 
	padding:0 0 0 5px;
	position:relative;
	top:-2px;
}

#fontsize a { 	
	background:url(../img/sprite.gif) no-repeat 0 -200px; 
	display:block; 
	height:20px; 
	width:19px;
	text-indent:-9999px;
	padding:0;
}
#fontsize a.large { background-position:-20px -220px;width:20px; }
#fontsize a.largest { background-position:-20px -240px; }
#fontsize a:hover { color:#CC0000; }

#introduction { width:286px; }

/* Taalkeuze ////////////////////////////////*/
#language {
	border-top:1px solid #CCCCCC;
	float:right;
	position:absolute;
	left:845px;
	top:0.333em;
	width:110px;
	height:23px;
	z-index:999;
	padding:0;
	margin:0;
	display:block;
}
#language li {list-style:none;}
#language a, #language span {
	background:#fff;
	display:block;
	padding:3px 5px;
	border-bottom:1px solid #CCCCCC;
	color:#666;
	text-decoration:none;
	
}
#language a {
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
}
#language li.current span {
/* TODO
	background: #fff url(../img/arrow-language.gif) no-repeat left 8px;
*/

}
#language a:hover {
	background-color:#efefef;
	color:#333;
}

#language li a img, #language li span img {
	float:left;
	margin:2px 4px;
}

/* IR FAQ ////////////////////////////////////*/
.tx-irfaq-pi1 { margin-bottom: 1em; }
.tx-irfaq-pi1 .irfaq-show-hide { font-size: 0.9em; }
.tx-irfaq-pi1 dl { clear: both; }

.tx-irfaq-pi1 dt {
	font-size: 1.1em;
	margin-bottom: 0.3em;
	padding-bottom: 0.3em;
	color: #0E6293;
	border-bottom: 1px solid #E6E6E6;
}

.tx-irfaq-pi1 dt:hover { color: #D64DA0; }

.tx-irfaq-dynheader img {padding-right: 10px; }
.tx-irfaq-dynans-visible p {padding-left: 24px; }
.tx-irfaq-pi1 .tx-irfaq-pi1 .additional-info { border-top: 1px solid #E6E6E6; }

.tx-irfaq-pi1 p, .tx-irfaq-pi1 ul, .additional-info { margin-bottom: 1em;}

/* SEARCH /////////////////////////////////////*/
#search {
	background: url(../img/bg-search-left.gif) no-repeat left top;
	height:37px;
	left:400px;
	top: 50px;
	position: absolute;
	z-index:900;
	padding-left:8px;
}
.search-left {
	font-size:11px;
	width:556px;
	background: url(../img/bg-search.gif) repeat-x left top;
	height:35px;
	padding:3px 0 0;
}
#searchform {margin-bottom:0;}
#search input { 
	float:left; 
	margin-top:2px; 
	padding:5px 0 0 3px; 
	width:310px; 
	height:19px; 
	font-size:11px;
	padding-right:0;
	display:block;
	line-height:1.6em;
	background: url(../img/tx-solr-q-bg.gif) no-repeat left top;
	border: 1px solid #CBCBCB;
	color: #4A4A4A;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
}
#search input.submit {
	background: url(../img/button-solr-search.gif) no-repeat left top; 
	border:0; 
	clear:none; 
	padding:0px;
	width:57px;
	height:27px;
	margin-left:10px;
	line-height:1.5em;
	color:#fff;
}

#search #generalSearchBox { width: 177px; }
.ncsolr-label-search {width:0;padding:0;text-indent:-9999px;}

.tx-indexedsearch-browsebox { margin-bottom:1em;}
.tx-indexedsearch-res { margin-bottom:0.3em; border-bottom:1px solid #CCC; }
.tx-indexedsearch-res-item { padding:0.3em; margin:0.3em; border-top:1px solid #CCC; }
.tx-indexedsearch p { margin:0; }
ul.browsebox, ul.browsebox li {
 	margin: 0;
 	padding: 0;
 	display: inline;
}

ul.browsebox a {
 	margin-right: 0.3em;
 	text-decoration: none;
}

.tx-ncstsolrsearch-pi1 ul{margin-left:0px; }
.tx-ncstsolrsearch-pi1 li, tx-ncstsolrsearch-pi1 {list-style-type:none; }
.tx-ncstsolrsearch-pi1 .hide-did-you-mean-page-suggestion{display:none;}
.tx-ncstsolrsearch-pi1 .hide-moreLikeThis-0{display:none;}
.tx-ncstsolrsearch-pi1 .hideRow-1{display:none;}
.tx-ncstsolrsearch-pi1 .showRestrictedHeader-0{display:none;}
.hide-did-you-mean-page-suggestion{display:none; }

/* FE User /////////////////////////////////////////////////*/
.tx-srfeuserregister-pi1 form legend { margin-bottom: 1em; }
.tx-srfeuserregister-pi1 form li { margin-bottom: 4px; width:100%; }
.tx-srfeuserregister-pi1 form li label { width: 200px; }
.tx-srfeuserregister-pi1 .radio { float: left; display:inline; }

.tx-srfeuserregister-pi1 .radio input, .tx-srfeuserregister-pi1 .radio label {
	background: 0;
	border: none;
	float: left;
	margin-right: 10px;
	width: auto;
}

/* JK Poll /////////////////////////////////////*/
.tx-jkpoll-pi1 label { float: none; }

/* submit extensions ////////////////////////////*/
.tx-jkpoll-pi1 .pollsubmit, .tx-pbsurvey-pi1-submit, .tx-pbsurvey-pi1-back,
.news-single-item .news-single-backlink a { 
	background: url(../img/sprite.gif) no-repeat scroll -7px -373px;
	padding-left:15px;
	font-weight: normal;
	display:block;
}
.tx-jkpoll-pi1 .pollsubmit:hover, .tx-pbsurvey-pi1-submit:hover, 
.tx-pbsurvey-pi1-back:hover, .news-single-item .news-single-backlink a:hover {
	background-position: -7px -94px;
} 
/* fe login ////////////////////////////////*/
.tx-felogin-pi1 legend {
	font-size:1.413em;
	color:#073D7B;
	font-weight:normal;
	margin-bottom:0;
	padding:0.9em 0 1em;
}
.tx-felogin-pi1 label { float: none; }
.felogin-user, .felogin-pw, .tx-felogin-pi1 .button { float:left; }
#pass, #user {
	width:142px;
	height:25px;
	background: url(../img/bg-felogin-input.gif) no-repeat left top;
	border:0;
}
.tx-felogin-pi1 .button { margin-top:15px; }

.felogin_submit {
	background:url(../img/button-solr-search.gif) no-repeat scroll left 6px;
	border:0 none;
	clear:none;
	height:33px;
	padding:7px;
	width:57px;
	color:#fff;
}
.felogin_submit:hover { cursor:pointer; }
/* dmmjobcontrol ///////////////////////*/
.dmmjobcontrol_list_th1 { 
	color: #0E6293;
	font-size:1.1em;
	text-align: left;
	font-weight: normal;
}

.jobcontrol-definition { padding-bottom: 5px; }

.dmmjobcontrol_list_tr a, .dmmjobcontrol_list_tr_alt a {
	background:url(../img/arrow.gif) no-repeat left 2px;
	padding-left:15px;
}

.jobcontrol-detail div.jobcontrol-label {
	float:left;
	padding-right:5px;
	margin-bottom:10px;
}
.jobcontrol-detail {clear:both;margin-bottom:10px;}
.jobcontrol-desc {font-weight:bold;}
.dmmjobcontrol_apply_backtolist {
	background:url(../img/arrow.gif) no-repeat left 2px;
	padding-left:15px;
}

/* nc_risbis//////////////////////////*/
.prencrisbisleiden ul { margin-bottom: 0px; padding-bottom: 0px; }
.backLink {padding:5px 0;}

/* Pagebrowser /////////////////////////////////////////// */
.tx-pagebrowse { text-align: center; list-style: none inside none; padding: 0 0; margin: 0 0; width: 100%; }
.tx-pagebrowse li { display: inline; list-style: none; margin: 0 0; padding: 0 5px 0 0; }
li.tx-pagebrowse-pages { width: 80%; }
li.tx-pagebrowse-pages ol { display: inline; margin: 0 0; padding: 0 10px; }

/* addthis //////////////////////////////////*/
.addthis_toolbox {clear:both;padding:10px 0;}

/* tt_address ////////////////////////////*/
.tx-ttaddress-pi1 ul, .tx-ttaddress-pi1 li { list-style:none; margin:0; padding:0; }
.vcard {clear:both; margin-bottom:10px; overflow:auto;}
.vcard .photo {float:left; margin-right:10px;}
.tt_address-adr, .tt_address-contact {float:left;margin-right:10px;width:33%;}
.tt_address-adr-label {color:#00354A;}
a.url {display:block;}

#right .vcard .photo {float:right;margin-left:10px;margin-right:0px;}
#right .tt_address-adr {width:auto;}
#right .tx-ttaddress-pi1 {width:230px;}

/* overheid zoekbox ////////////////////////////*/
#onlzoekbox {
	font-size:0.7em;
	border: 1px solid #000;
	background: #FFF;
	min-width: 195px;
	max-width: 280px;
	float:left;
}

#onlzoekbox p { margin:0; padding:0 3px; }

#onlzoekbox p.head{
	font: 1.6em bold;
	color: #FF8A00;
	border-bottom:3px solid #FF8A00;
	padding: 0 3px 3px 3px;
}

#onlzoekbox p.head a{
	background:transparent url(http://www.overheid.nl/media/css/images/overheid.nl.png) no-repeat scroll 0 0;
	display:block;
	margin: 3px 0 0 0;
	height:33px;
	left:27px;
	text-indent:-999em;
	top:33px;
	width:185px;
}

#onlzoekbox p.info { padding:3px 0 0 3px; color:#6D7F97; }
#onlzoekbox p.foot{ border-top:1px solid #000; background:#8294A9; padding:0 3px; }

#onlzoekbox fieldset { 
	margin:0;
	padding:3px;
	border:0;
	font-weight:bold;
}

#onlzoekbox button {
	background:transparent url(http://www.overheid.nl/media/css/images/button.gif) no-repeat scroll right top;
	border:medium none;
	clear:both;
	cursor:pointer;
	display:block;
	font-weight:bold;
	height:20px;
	padding:1px 25px 3px 0;
	margin:3px 0 0 0;
	text-align:right;
	width:100%;
}

#onlzoekbox button:hover, button:focus { background-position:right bottom; }

/* direct mail subscription ///////////////////*/
.dmailsub {display:block;}
.dmailsub-name {overflow:auto;}
.dmailsub-choices {clear:both;}
.dmailsub-choices input, #dmailsub-cat-htmlmails {
	float:left;
	display:inline;
	border:0;
}
.dmailsub form label {width:70px;}
.dmailsub-email {margin-bottom:10px;}
.dmailsub form .dmailsub-choices label {width:150px;}
.dmailsub-html label {float:none;}
.cat br {clear:both;}
.dmailsub-subscribe {margin-top:10px;}

/* yellow pages //////////////////////////*/
/* list ---------------------------------------*/
.tx_mh_branchenbuch-category {
	padding:0;
	margin:0 0 10px 0;
	list-style-type:none;
}
.tx_mh_branchenbuch-category a {
	background:url(../img/arrow.gif) no-repeat left 3px;
	padding-left:15px;
}
.xs_entry h4 a {
	background:url(../img/arrow-right.gif) no-repeat left 3px;
	display:block;
	padding-left:20px;
	min-height:18px;
}
.xs_entry, .tx_mh_branchenbuch-detail-info {
	background:#F0F2F2;
	margin-bottom:10px;
	padding:10px;
	overflow:hidden;
}
.xs_entry-naw, .xs_entry-contact {
	float:left;
	width:50%;
}
.xs_entry-naw p, .xs_entry-contact p, .tx_mh_branchenbuch-detail p {margin-bottom:0;}
.xs_entry-contact-phone, .xs_entry-contact-fax, .xs_entry-contact-cellphone,
.tx_mh_branchenbuch-detail-phone, .tx_mh_branchenbuch-detail-fax, 
.tx_mh_branchenbuch-detail-cellphone, .tx_mh_branchenbuch-detail-www,
.tx_mh_branchenbuch-detail-email, .tx_mh_branchenbuch-detail-vcard {
	background:url(../img/sprite-yp.gif) no-repeat left -200px;
	padding-left:30px;
	height:30px;
}
.xs_entry-contact-fax, .tx_mh_branchenbuch-detail-fax {background-position:left top;}
.xs_entry-contact-cellphone, .tx_mh_branchenbuch-detail-cellphone {background-position:left -100px;}
/* detail -------------------------------------------------*/
.tx_mh_branchenbuch-detail-info-image, .tx_mh_branchenbuch-detail-naw,
.tx_mh_branchenbuch-detail-contact {
	float:left;
	width:33%;
}
.tx_mh_branchenbuch-detail-www {background-position:left -300px;}
.tx_mh_branchenbuch-detail-email {background-position:left -400px;}
.tx_mh_branchenbuch-detail-vcard {background-position:left -500px;}
.tx_mh_branchenbuch-detail-descr {
	clear:both; 
	background: url(../img/border-rulerafter.gif) repeat-x left top;
	padding-top:5px;
	margin-top:10px;
	overflow:hidden;	
}

/* Social bookmarks /////////////////////////////////////*/
#sp_socialbookmarks_link_bar {
	background: url(../img/bg-sb.gif) no-repeat left top;
	width:680px;
	height: 21px;
	padding:10px;
}
#sp_socialbookmarks_link_bar span {
	float:left; 
	margin-right:5px;
	line-height:1.9em;
}
#sp_socialbookmarks_link_bar a {
	width:26px;
	height:26px;
	display:block;
	float:left;
}
a#bookmark_Twitter {
	background: url(../img/icon-twitter.gif) no-repeat left top;	
}
a#bookmark_Facebook {
	background: url(../img/icon-facebook.gif) no-repeat left top;	
}
a#bookmark_Hyves {
	background: url(../img/icon-hyves.gif) no-repeat left top;
}
#sp_socialbookmarks_link_bar a:hover { background-position: left bottom;}
#sp_socialbookmarks_link_bar #share-mail {width:auto; line-height:1.9em; padding-left:5px;}

/* Smoelenboek ////////////////////////////////////////////*/
.tx-ncgovsmoelenboek-pi1 label {
	float:none;
	position:relative;
	top:6px;
}
.tx-ncgovsmoelenboek-pi1 select {
	height:27px;
	position:relative;
	top:-4px;
}
#tx_ncgovsmoelenboek_pi1_sword {
	background: url(../img/ncgov-smoelenboek-input.gif) no-repeat left top;
	height:20px;
	width:165px;
	line-height:1.6em;
	padding:5px 0 0 3px;
}
#tx_ncgovsmoelenboek_submit {
	color:#fff;
	text-transform:capitalize;
	background:url(../img/button-solr-search.gif) no-repeat left top;
	border:0 none;
	clear:none;
	height:27px;
	line-height:1.5em;
	margin-left:10px;
	padding:0;
	width:57px;
}

.ncgov-smoelenboek-index {
	background:url(../img/dotted.gif) repeat-x left top;
	clear:both;
	display:block;
	margin-top:10px;
	padding:10px 0 20px 0;
}

.ncgov-smoelenboek-index ul {
	float:left;
	list-style:none outside none;
	margin:0;
	padding:0;
}
.ncgov-smoelenboek-index li, .ncgov-smoelenboek-index li a {
	height:18px;
	margin:0 2px 0 0;
	overflow:hidden;
	padding:0;
	text-align:center;
	text-decoration:none;
	width:18px;
	float:left;
}
.ncgov-smoelenboek-index li a {margin:0;}
.ncgov-smoelenboek-index li a:hover {
	background:url(../img/bg-pdc-az.gif) no-repeat center center;
	color:#0099FF;	
}
.ncgov-smoelenboek-index-all a, .smoelenboek-terug a {
	margin-left:10px;
	width:37px;
	height:18px;
	display:block;
	float:left;
	text-align:center;
}
.ncgov-smoelenboek-index-all a:hover, .smoelenboek-terug a:hover {
	background:url(../img/smoelenboek-all.gif) no-repeat center center;
}
.tx-ncsmoelenboek-pi1-list {
	background:url(../img/dotted.gif) repeat-x left top;
	clear:both;
	display:block;
	margin-top:10px;
	padding:10px 0;
}
.tx-ncsmoelenboek-pi1-list th, .tx-ncsmoelenboek-pi1-list td {
	width:15%;
	text-align:left;
}
td.smoelenboek-mail, th.smoelenboek-mail {
	width:20px;
}
.tx-ncsmoelenboek-pi1-single dl {float:left;}
.tx-ncsmoelenboek-pi1-single dt, .tx-ncsmoelenboek-pi1-single dd {
	float:left;
}
.tx-ncsmoelenboek-pi1-single dt { 
	clear:both; 
	width:100px;
	text-align:right;
	color:#666;
	margin-bottom:5px;
}
.tx-ncsmoelenboek-pi1-single dd {font-weight:bold;margin-bottom:5px;}

/* useful links ////////////////////////////////////*/
.tx-ncusefulpages-pi1 {clear:both;padding-top:10px;}
.useful-links {
	background: url(../img/useful-links.gif) no-repeat left top;
	width:113px;
	height:32px;
	padding:2px;
	margin-top:10px;
}
.useful-links input {
	float:left;
	border:0;
	font-weight:bold;
	padding-left:20px;
}
.useful-links input:hover {cursor:pointer;}
.useful-link {
	background: url(../img/useful-links.gif) no-repeat left -36px;
	width:57px;
	height:32px;
}
.unuseful-link {
	background: url(../img/useful-links.gif) no-repeat left -68px;
	width:56px;
	height:32px;
}
.useful-links-nav p a {
    background: url(../img/sprite.gif) no-repeat scroll -7px -371px transparent;
    clear: both;
    display: block;
    float: left;
    padding: 3px 13px;
}
.useful-links-nav p a:hover {background-position: -7px -92px;}

/* Image carousel /////////////////////////////////////////////*/
.cloudcarousel-left, .cloudcarousel-right {
	display:block;
	position:relative;
	float:left;
	background-image: url(../img/button-glider.gif);
	background-repeat:no-repeat;
}
.cloudcarousel-left {left:0;background-position:left top;}
.cloudcarousel-right {float:right;background-position:right top;}
.cloudcarousel-left:hover, .cloudcarousel-right:hover {cursor:pointer;}
.cloudcarousel-right:hover {background-position:right bottom;}

/* Wecmap /////////////////////////////////////////////////////*/
.tx-wecmap_map .sidebar {display:block; overflow:auto;}
.tx-wecmap-map .startendaddress {display:block; color:#333333; font-size:85%;}
.tx-wecmap-map .infotitle { font-weight:bold; font-size:110%;}

/* end extensions.css */

/* carousel.css */

/*
***********************************************************
Title: jcarousel.css
Author: Jacco van der Post - www.TYPO3-webdesign.nl
Date: june 2010
***********************************************************
*/

#jpcarousel {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
#jpcarousel li {
    display: block;
    list-style: none;
    margin: 0;
    padding:10px 5px 0px 5px;
    float: left;
    overflow:hidden;
}

.carouselContainer {
    /*padding: 0 5px;*/
    /* width, height and background-color are determined in constant editor */
    display:block;
    height:167px;
}


.carouselContainer :focus {
    outline: 0;  /* dont give ugly outline border arround images */
}

.carousel img {
    border:0;
}

.carousel {
    color:#f0f0f0;
    margin-left:50px;
    width:860px;
}

.carouselbuttons {
    padding: 5px 0 0 0;
}
#footer .carouselbuttons a { 
	float:none; 
	padding:0;
	width:auto; 
}
.carouselbuttons a img {
    padding:0;
    height:40px;
    width:40px;
    border:none;
    cursor:pointer;
}

/* we give the dummy img clear.gif a background, to show nice buttons */    
.carouselbuttons a.carouselprev img {
    background:url(../img/button-glider.gif) no-repeat left top;
    float:left;
}
.carouselbuttons a.carouselprev img:hover {
    background:url(../img/button-glider.gif) no-repeat left bottom;
}

.carouselbuttons a.carouselnext img{
    background:url(../img/button-glider.gif) no-repeat right top;
    float:right;
}
.carouselbuttons a.carouselnext img:hover {
    background:url(../img/button-glider.gif) no-repeat right bottom;
}

h3.carousel_title {
    padding:0;
    margin:0;
    color:white;
    font-family:arial, sans-serif;
    font-size:11px;
    line-height:20px; /* vertical center the title a bit */
    font-style:italic;
    font-weight:normal;
    text-align:center;
    display:block; /* needed for centering title */
}
/*Additional styling ////////////////////////////*/
.carouselContainer {background:transparent;}
#footer #jpcarousel div { float:none; }
#footer #jpcarousel .frame-01 {
	width:162px;
	height:112px;
	background: url(../img/frame-glider.gif) no-repeat left top;
}
#footer #jpcarousel .frame-01 h4 {
	background:none;
	margin:0;
	padding:5px 0 0 10px;
	width:152px;
	font-size:1em;
	font-weight:bold;
}
#footer #jpcarousel .frame-01 a { width:162px;text-decoration:none;}
#footer #jpcarousel .frame-01 div.csc-textpic img {
	border:0;
	position:relative;
	top:9px;
	left:-3px;
	margin-bottom:0;
}
.carouselbuttons {float:none;width:960px;}
.carouselbuttons .carouselprev {
	float:left;
	margin-right:852px;
	position:relative;
	top:-73px;
}
.carouselbuttons .carouselnext {
	float:right;
	position:relative;
	top:-73px;
}
/* Carousel in center ----------------------------*/
#center .carousel, #center .carouselbuttons {width:auto;}
#center .carouselbuttons .carouselprev {margin-right:auto;}
#center .caroufredsel_wrapper {width:600px;}

#jpcarousel li {width:162px; height:112px;}

/* end carousel.css */
