<div class="block clearfix import">
    <div class="block-header clearfix">
        <h1 class="block-header-title">Zaaktype importeren resultaat</h1>
    </div>
    <div class="block-content">
        <div class="[% IF import_error %]error[% ELSE %]succes[% END %]">
            [% IF import_error %]
                Er is iets mis gegaan met importeren
                <span>[% import_error %]</span>
            [% ELSE %]
                Zaaktype '<a href="/beheer/zaaktypen/[% zaaktype_node.zaaktype_id.id %]/bewerken">
                <strong>[% zaaktype_node.titel %]</strong></a>'
                is ge&iuml;mporteerd in Zaaksysteem <strong>[% c.req.hostname %]</strong>.
            [% END %]
            </div>

            <a href="/beheer/zaaktypen/import/flush" class="button button-primary">Ander zaaktype importeren</a>

            [% cat = zaaktype_node.zaaktype_id.bibliotheek_categorie_id %]

            <a href="[% c.uri_for('/beheer/bibliotheek/' _ cat.id ) %]" class="button button-primary">
                Terug naar [% cat.naam %]
            </a>
    </div>
</div>
