[% USE Dumper %]

<div id="resultaat_definitie">
<form>
<input type="hidden" name="uniqueidr" value="[% c.req.params.uniqueidr %]">
<input type="hidden" name="update" value="1">
<input type="hidden" name="rownumber" value="[% rownumber %]">
<input type="hidden" name="dialog_checkboxes" value="resultaten_trigger_archival" />

<table class="table_zaakinformatie" id="notificaties_template">
    <tbody>
        <tr>
            <td class="td-label td180">Naam (omschrijving)</td>
            <td class="td260">
                <input type="text" name="resultaten_label" value="[% params.label %]" class="input_large">
            </td>
            <td></td>
        </tr>

        <tr>
            <td class="td-label td180">Resultaattype-generiek</td>
            <td class="td260">
                <select name="resultaten_resultaat">
                    [% FOREACH resultaattype IN ZOPTIONS.RESULTAATTYPEN.sort %]
                        <option
                            value="[% resultaattype %]"
                        [% resultaattype == params.resultaat
                            ? 'selected="selected"'
                            : ''
                        %]
                        > [% resultaattype | ucfirst %]</option>
                    [% END %]
                </select>
            </td>
            <td></td>
        </tr>

        <tr>
            <td class="td-label td180">Selectielijst</td>
            <td class="td260">
                <input type="text" name="resultaten_selectielijst" value="[% params.selectielijst %]" class="input_large">
            </td>
            <td></td>
        </tr>


        <tr>
            <td class="td-label td180">Activeer bewaartermijn</td>
            <td class="td260">
                <input type="checkbox" name="resultaten_trigger_archival" value="1"[% (!params.defined || params.trigger_archival) ? ' checked' : '' %] />
            </td>
            <td></td>
        </tr>


        <tr>
            <td class="td-label td180">Archiefnominatie</td>
            <td class="td260">
                <select name="resultaten_archiefnominatie[% (mresultaat ? '.' _ mresultaati : '') %]">
                    [% FOREACH value IN ['Bewaren (B)','Vernietigen (V)','Overbrengen (O)'] %]
                        <option
                            value="[% value %]"
                        [% value == params.archiefnominatie
                            ? 'selected="selected"'
                            : ''
                        %]
                        > [% value %]</option>
                    [% END %]
                </select>
            </td>
            <td></td>
        </tr>

        <tr>
            <td class="td-label td180">Bewaartermijn</td>
            <td class="td260">
                <select name="resultaten_bewaartermijn[% (mresultaat ? '.' _ mresultaati : '') %]">
                    [% FOREACH bewaartermijn IN ZOPTIONS.BEWAARTERMIJN.keys.nsort %]
                        <option
                            value="[% bewaartermijn %]"
                        [% bewaartermijn == params.bewaartermijn
                            ? 'selected="selected"'
                            : ''
                        %]
                        > [% ZOPTIONS.BEWAARTERMIJN.$bewaartermijn | ucfirst %]</option>
                    [% END %]
                </select>
            </td>
            <td></td>
        </tr>

        <tr>
            <td class="td-label td180">Brondatum archiefprocedure</td>
            <td class="td260">
                <select name="resultaten_ingang[% (mresultaat ? '.' _ mresultaati : '') %]">
                    [% FOREACH ingang IN ZOPTIONS.RESULTAATINGANGEN %]
                        <option
                            value="[% ingang %]"
                        [% ingang == params.ingang
                            ? 'selected="selected"'
                            : ''
                        %]
                        > [% ingang | ucfirst %]</option>
                    [% END %]
                </select>
            </td>
            <td></td>
        </tr>

        <tr>
            <td class="td-label td180">Toelichting</td>
            <td class="td260">
                <input type="text" name="resultaten_comments" value="[% params.comments %]" class="input_large">
            </td>
            <td></td>
        </tr>

    </tbody>
<table>
<div class="form-actions">
<input type="submit" value="Opslaan" class="button button-primary">
</div>
</form>
</div>
