case-list-view {
	display: flex;
	width: 100%;
	flex: 0 1 auto;
	flex-flow: column nowrap;
	background: #fff;
}

.case-list__empty {
	padding: 3em 2em;
	font-weight: 500;
	text-align: center;
	opacity:.7;
}

.case-list-view__supportlink{
	padding: 15px;
	color: #ccc;
	background:#f9f9f9;
	
	span{
		vertical-align: middle;		
	}

	zs-icon{
		vertical-align: middle;
		font-size: 1.5em;
	}
}
