[% USE Dumper %]

[% BLOCK milestone_table_row %]
<tr
    class="mijlpaal_element_rij ezra_table_row[% (!mregel ? '_template' : '') %][% mregel.is_group ? ' ezra_regels_grouping_group mijlpaal_element_rij_groep' : ''%]"
    id="ezra_table_regel_row_number[% (mregel ? '_' _ mregeli : '') %]">
    <td class="td15 ver_center no-border drag"></td>
    <td class="td_14px tdvar">
        <span class="regel-actief-checkbox">
            <input type="hidden" name="ezra_checkboxes" value="params.status.regels.active[% (mregel ? '.' _ mregeli : '') %]" />
            [% UNLESS mregel.is_group %]
            <input type="checkbox" name="params.status.regels.active[% (mregel ? '.' _ mregeli : '') %]" value="1"[% (!mregel || mregel.active) ? ' checked="checked"' : '' %] />
            [% END %]
        </span>

        <input type="hidden" class="roworder" name="params.status.regels.mijlsort[% (mregel ? '.' _ mregeli : '') %]" value="[% mregeli %]" />

        <span class="rownaam" />
        [% FOREACH problem IN integrity.rules.problems %]
            [% IF problem.rule_number == mregeli %]
                <i
                class="icon-warning-sign icon-font-awesome regel-error"
                data-zs-title="[% problem.message %]"></i>
            [% END %]
        [% END %]
        [% mregel.naam %][%# Dumper.dump(mregel) %]</span>
        [% IF mregel.is_group %]
            <div class="rowdescription">[% mregel.help %]</span>
        [% END %]

    </td>
    <td class="row-actions td100">
        <a
            href="[% formaction _ '/regel' _ (mregel.is_group ? 'group' : '') %]/bewerken"
            class="edit ezra_table_row_edit row-action"
            title="Regel bewerken"
            rel="ezra_dialog_layout: fullscreen;[% mregel.is_group ? ' callback: ezra_regels_grouping_update_row;' : '' %]">
            <i class="icon-font-awesome icon-pencil"></i>
        </a>
        <a href="#" class="ezra_table_row_del row-action">
            <i class="icon-font-awesome icon-remove"></i>
        </a>
    </td>
</tr>
[% END %]



<h3 class="ui-accordion-header ui-state-default ui-helper-reset" id="milestone_acc_regel">
    <a href="#">
        [% IF integrity.rules.failed %]
            <i
            class="icon-warning-sign icon-font-awesome regel-error"
            data-zs-title="Zaaksysteem heeft enkele problemen gevonden binnen uw regels"></i>
        [% END %]
        Regels
        (<span class="number">[% milestone.elementen.regels.size || 0 %]</span>)
    </a>
</h3>
<div class="ezra_table element_tabel_regel mijlpaal_element">
    <div class="ui-accordion-inner">
    <table cellspacing="0" class="ezra_table_table sortable-element table-generic">
        <tbody>
            [% INCLUDE milestone_table_row %]
            [% FOREACH mregeli IN milestone.elementen.regels.keys.nsort %]
                [% mregel = milestone.elementen.regels.$mregeli %]
                [% INCLUDE milestone_table_row %]
            [% END %]
        </tbody>
    </table>
    <a  class="ezra_table_row_add"
        href="#"
        style="display: none;"
        title="Regel bewerken"
        rel="callback: ezra_zaaktype_regel_edit; newfddcallback:regel"
        ></a>
        <div class="mijlpaal_element_add_group">
        <a
            id="voegtoe"
            title="Voeg groep toe"
            class="ezra_regels_grouping_add button button-primary"
            href="[% formaction _ '/regelgroup/bewerken' %]"
            rel="callback: ezra_regels_grouping_add_dialog"
            >Voeg groep toe</a>
        </div>
    </div>
</div>
