                                        <table class="table_zoeken">
                                            <tr class="table_zoeken_tr">
                                                <td class="table_zoeken_td100">BSN:</td>
                                                <td class="table_zoeken_tdvar"><input type="text" class="input_medium"></td>
                                            </tr>
                                            <tr class="table_zoeken_tr">
                                                <td class="table_zoeken_td100">Achternaam:</td>
                                                <td class="table_zoeken_tdvar"><input type="text" class="input_medium"></td>

                                            </tr>
                                            <tr class="table_zoeken_tr">
                                                <td class="table_zoeken_td100">Voornaam:</td>
                                                <td class="table_zoeken_tdvar"><input type="text" class="input_medium"></td>
                                            </tr>
                                            <tr class="table_zoeken_tr">
                                                <td class="table_zoeken_td100">Postcode:</td>
                                                <td class="table_zoeken_tdvar"><input type="text" class="input_mini"></td>

                                            </tr>
                                            <tr class="table_zoeken_tr">
                                                <td class="table_zoeken_td100">Straat:</td>
                                                <td class="table_zoeken_tdvar"><input type="text" class="input_medium"></td>
                                            </tr>
                                            <tr class="table_zoeken_tr">
                                                <td class="table_zoeken_td100">Huisnummer:</td>
                                                <td class="table_zoeken_tdvar"><input type="text" class="input_mini"></td>

                                            </tr>
                                            <tr class="table_zoeken_tr">
                                                <td class="table_zoeken_td100">E-mail:</td>
                                                <td class="table_zoeken_tdvar"><input type="text" class="input_medium"></td>
                                            </tr>
                                            <tr class="table_zoeken_tr_bottom">
                                                <td class="table_zoeken_td100_2"></td>
                                                <td class="table_zoeken_tdvar"><input type="button" value="Zoeken" class="button button-primary"></td>

                                            </tr>
                                        </table>
