[%
    rechtsvormmap = {
        '01'  => 'Eenmanszaak',
        '11'  => 'Vennootschap onder firma',
        '21'  => 'Commanditaire vennootschap',
        '07'  => 'Maatschap',
        '41'  => 'Besloten Vennootschap',
        '51'  => 'Naamloze Vennootschap',
        '70'  => 'Vereniging',
        '81'  => 'Co&ouml;peratieve en onderlinge waarborgmaatschappij',
        '74'  => 'Stichting',
    };

    betrokkene_rechtsvorm = betrokkene.rechtsvorm;

%]
<table class="table_zaakinformatie">
    <tr>
        <td class="table_td_left_zaakinformatie">Type:</td>
        <td class="table_td_right_zaakinformatie">[% brontype.${betrokkene.btype} %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Bron:</td>
        <td class="table_td_right_zaakinformatie">[% !betrokkene.authenticated ? 'Zaaksysteem' : broninfo.${betrokkene.btype} %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">KvK-nummer:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.dossiernummer %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Vestigingsnummer:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.vestigingsnummer %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Handelsnaam:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.handelsnaam %]</td>

    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Rechtsvorm:</td>
        <td class="table_td_right_zaakinformatie">
            [% rechtsvormmap.${betrokkene_rechtsvorm} %]
        </td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Vestiging straat:</td>

        <td class="table_td_right_zaakinformatie">[% betrokkene.vestiging_straatnaam %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Vestiging huisnummer:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.vestiging_huisnummer %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Vestiging toevoeging:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.vestiging_huisnummertoevoeging %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Vestiging postcode:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.vestiging_postcode %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Vestiging woonplaats:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.vestiging_woonplaats %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Telefoonnummer:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.telefoonnummer %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">E-mailadres:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.email %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Contactpersoon voorletters:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.contactpersoon_voorletters %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Contactpersoon tussenvoegsel:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.contactpersoon_tussenvoegsel %]</td>
    </tr>
    <tr>
        <td class="table_td_left_zaakinformatie">Contactpersoon achternaam:</td>
        <td class="table_td_right_zaakinformatie">[% betrokkene.contactpersoon_geslachtsnaam %]</td>
    </tr>
</table>
