<a ng-href="{{::caseItem().link}}">
	<div class="case-list-item--titlerow" >
		<div class="case-list-item--title">
			{{::caseItem().number}} - {{caseItem().label}}
		</div>
		<div class="case-list-item--days-left-wrap">
			<span
				class="case-list-item--days-left"
				ng-class="caseItem().style">
				{{::caseItem().days}}
			</span>
		</div>
	</div>
	<div 
		class="case-list-item--locationrow"
		ng-if="caseItem().location">
		<zs-icon icon-type="map-marker"></zs-icon>
		{{::caseItem().location}}
	</div>
</a>

