@import "../../../../shared/styles/_variables.scss";

.meeting-item{
	background: #fff;
}

.meeting-item-titlebar{
	padding: 1.3rem 2.5rem 1.3rem 1.5rem;
	color: rgb(214,26,20);
	background: #eeeeee;
	overflow: hidden;
	font-size: 1rem;
	border-bottom: solid 1px #e4e4e4;
	position: relative;
	

	&:hover{
		cursor: pointer;
		background:#e9e9e9;
	}

	.meeting-item-titlebar__title{
		font-weight: 500;
		float: left;
		font-size:1.067rem;
	}

	.meeting-item-titlebar__meta{
		display: block;
		float: right;
		color: #000;
		font-size: 14px;

		zs-icon{
			margin-right: 3px;

			.mdi{
				font-size:1.15em;
			}
		}
	}

	.meeting-item-titlebar__metaprops{
		margin: 0;
		line-height: 1.8;

		li{
			color: #888;
			display: inline-block;
			margin-right: 12px;
			line-height: 1.7;
		}
	}

	.meeting-item-titlebar__meta--small{
		clear: both;
		display: block;
		float: left;		
		margin-top: 5px;

		.meeting-item-titlebar__metaprops{
			display: block;
			line-height: 1;

			li{
				margin-right:8px;
			}
		}
	}

	button{
		color: #000;
		float: right;
		border: 0;
		background: none;
		padding: 0;

		position: absolute;
		right:1rem;
		top:1.3rem;

		zs-icon{
			display: block;
			transition: all 0.05s ease-in-out;
			opacity: .5;
			line-height: 1;

			&.expanded{
				transform: rotate(180deg);
			}

			.mdi{
				font-size:1.4em;
			}
		}
	}

}

@media #{$medium-and-up}{
	.meeting-item-titlebar{
		padding: 1.3rem 1.5rem;
		display: flex;
		align-item:center;

		.meeting-item-titlebar__title{
			flex-grow:1;
		}
		button{
			position: static;
		}
	}
}
