<div class="meeting-item">

	<div class="meeting-item-titlebar" ng-click="meetingListItem.toggleExpand()">

		<div class="meeting-item-titlebar__title">
			{{meetingListItem.getDate()}} <span ng-show="meetingListItem.isGrouped()"> - </span> {{meetingListItem.getTitle()}}
		</div>

		<div class="meeting-item-titlebar__meta" ng-class="{'meeting-item-titlebar__meta--small': meetingListItem.getViewSize() === 'small'}"
			ng-show="meetingListItem.isGrouped()"
		>
			<ul class="meeting-item-titlebar__metaprops">
				<li ng-show="!!meetingListItem.getTime()">
					<zs-icon icon-type="clock"></zs-icon>
					{{meetingListItem.getTime()}}
				</li>
				<li ng-show="!!meetingListItem.getLocation()">
					<zs-icon icon-type="map-marker"></zs-icon>
					{{meetingListItem.getLocation()}}
				</li>
				<li ng-show="!!meetingListItem.getChairman()">
					<zs-icon icon-type="gavel"></zs-icon>
					{{meetingListItem.getChairman()}}
				</li>
			</ul>
		</div>

		<button ng-show="meetingListItem.isGrouped()">
			<zs-icon icon-type="chevron-up" ng-class="{'expanded': meetingListItem.isExpanded() }"></zs-icon>
		</button>

	</div>

	<div class="meeting-item-proposals"
		ng-if="meetingListItem.isExpanded()"
	>

		<proposal-item-list
			data-proposals="meetingListItem.getProposals()"
			app-config="meetingListItem.appConfig()"
		>
		</proposal-item-list>

	</div>
</div>
