<div data-ng-controller="nl.mintlab.user.UserSignatureController" class="contact-signature-wijzigen contact-settings-block" data-ng-init="uuid='[% betrokkene.ldap_rs.uuid %]';hasSignature=[% betrokkene.ldap_rs.settings.signature_filestore_id ? 'true' : 'false' %]" data-ng-class="{'contact-signature-wijzigen-empty': !hasSignature, 'contact-signature-wijzigen-loading': loading }" >
	[% IF show_signature_settings %]
		<h3>Handtekening wijzigen</h3>
	[% ELSE %]
		<h3>Handtekening</h3>
	[% END %]
	
	<div class="contact-signature-current" data-ng-show="!!hasSignature">
		<img class="contact-signature-current-image" data-ng-src="<[hasSignature && ('/api/betrokkene/signature/current?uuid=' + uuid + '&uploadId=' + uploadId) || '']>"/>
		
	</div>
	
	[% IF show_signature_settings %]
	<div class="contact-signature-upload">
		<div class="contact-signature-upload-help">
			Voeg een afbeelding toe van uw digitale handtekening. Het bestand moet
			de volgende afmetingen hebben: Hoogte: 120 pixels, breedte: 350 pixels.
			Alleen .jpg, .gif en .png bestanden worden geaccepteerd.
		</div>
		<div class="contact-signature-upload-button" data-zs-upload data-zs-upload-url="/api/betrokkene/signature/upload?uuid=<[uuid]>">
			<button type="button" class="btn btn-primary">
				Kies <[hasSignature && 'ander ' || '']>bestand
			</button>
		</div>
		<div class="contact-signature-upload-remove">
			<button type="button" class="button button-secondary button-small contact-signature-current-remove-button" data-ng-click="removeSignature()" data-ng-show="hasSignature">
				Verwijder handtekening
			</button>
		</div>
	</div>
	[% ELSE %]
		<div class="contact-signature-upload-help" data-ng-show="!hasSignature">Geen handtekening ingesteld</div>
	[% END %]
</div>
