<form method="POST" class="zvalidate" action="[%
    c.uri_for('/medewerker/' _ (entry ? 'edit' : 'add') _ '/user' _ (entry ? '/' _ entry.id : '')) %]">
    <input type="hidden" name="confirmed" value="1" />
    <table cellspacing="1" class="table_zaakinformatie">
        <tbody>
            <tr class="table_zaakinformatie_tr">
                <td class="table_td_left_zaakinformatie">
                    Initialen
                </td>
                <td class="table_td_right_zaakinformatie">
                    <input
                    type="text"
                    name="initials"
                    value="[% params.initials %]"
                    />
                </td>
                <td class="td200">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                            Deze categorie bestaat helaas al.
                        </div>
                    </div>
                    <div class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">
                            Typ hier de naam van de gewenste categorie</div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>
            <tr class="table_zaakinformatie_tr">
                <td class="table_td_left_zaakinformatie">
                    Voornaam
                </td>
                <td class="table_td_right_zaakinformatie">
                    <input
                    type="text"
                    name="givenname"
                    value="[% params.givenname %]"
                    />
                </td>
                <td class="td200">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                            Deze categorie bestaat helaas al.
                        </div>
                    </div>
                    <div class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">
                            Typ hier de naam van de gewenste categorie</div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>
            <tr class="table_zaakinformatie_tr">
                <td class="table_td_left_zaakinformatie">
                    Achternaam
                </td>
                <td class="table_td_right_zaakinformatie">
                    <input
                    type="text"
                    name="sn"
                    value="[% params.sn %]"
                    />
                </td>
                <td class="td200">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                            Deze categorie bestaat helaas al.
                        </div>
                    </div>
                    <div class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">
                            Typ hier de naam van de gewenste categorie</div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>
            <tr class="table_zaakinformatie_tr">
                <td class="table_td_left_zaakinformatie">
                    Getoonde naam (displayName)
                </td>
                <td class="table_td_right_zaakinformatie">
                    <input
                    type="text"
                    name="displayname"
                    value="[% params.displayname %]"
                    />
                </td>
                <td class="td200">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                            Deze categorie bestaat helaas al.
                        </div>
                    </div>
                    <div class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">
                            Typ hier de naam van de gewenste categorie</div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>
            <tr class="table_zaakinformatie_tr">
                <td class="table_td_left_zaakinformatie">
                    E-mailadres
                </td>
                <td class="table_td_right_zaakinformatie">
                    <input
                    type="text"
                    name="mail"
                    value="[% params.mail %]"
                    />
                </td>
                <td class="td200">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                            Deze categorie bestaat helaas al.
                        </div>
                    </div>
                    <div class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">
                            Typ hier de naam van de gewenste categorie</div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>
            <tr class="table_zaakinformatie_tr">
                <td class="table_td_left_zaakinformatie">
                    Telefoonnummer
                </td>
                <td class="table_td_right_zaakinformatie">
                    <input
                    type="text"
                    name="telephonenumber"
                    value="[% params.telephonenumber %]"
                    />
                </td>
                <td class="td200">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                            Deze categorie bestaat helaas al.
                        </div>
                    </div>
                    <div class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">
                            Typ hier de naam van de gewenste categorie</div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>
            <tr class="table_zaakinformatie_tr">
                <td class="table_td_left_zaakinformatie">
                    Afdeling
                </td>
                <td class="table_td_right_zaakinformatie">
                    [% INCLUDE widgets/general/ldap_ou_tree.tt input_name='group_id' input_selected=params.group_ids.0 entries=tree %]
                </td>
                <td class="td200">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                            Deze categorie bestaat helaas al.
                        </div>
                    </div>
                    <div class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">
                            Typ hier de naam van de gewenste categorie</div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>
            <tr class="table_zaakinformatie_tr">
                <td class="table_td_left_zaakinformatie">
                    Gebruikersnaam
                </td>
                <td class="table_td_right_zaakinformatie">
                    <input
                    type="text"
                    name="username"
                    value="[% params.username %]"
                    />
                </td>
                <td class="td200">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                            Deze categorie bestaat helaas al.
                        </div>
                    </div>
                    <div class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">
                            Typ hier de naam van de gewenste categorie</div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>
            <tr class="table_zaakinformatie_tr">
                <td class="table_td_left_zaakinformatie">
                    Wachtwoord
                </td>
                <td class="table_td_right_zaakinformatie">
                    <input
                    type="password"
                    name="password"
                    />
                </td>
                <td class="td200">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                            Deze categorie bestaat helaas al.
                        </div>
                    </div>
                    <div class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">
                            Typ hier de naam van de gewenste categorie</div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>
            <tr class="table_zaakinformatie_tr">
                <td class="table_td_left_zaakinformatie">
                    Herhaal wachtwoord
                </td>
                <td class="table_td_right_zaakinformatie">
                    <input
                    type="password"
                    name="password_confirmation"
                    />
                </td>
                <td class="td200">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                            Deze categorie bestaat helaas al.
                        </div>
                    </div>
                    <div class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">
                            Typ hier de naam van de gewenste categorie</div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
    <table class="table_ztbmenu">
        <tbody>
            <tr class="table_ztbmenu_tr">
                <td class="table_ztbmenu_tdright">
                    <input type="submit" value="Opslaan" class="button button-primary" id="dialog-submit"/>
                </td>
            </tr>
        </tbody>
    </table>
</form>


