.ml-animate-auto-height.ng-hide-remove,
.ml-animate-auto-height.ng-hide-add {
	overflow: hidden;
}

.ml-animate-auto-height {
	-webkit-transition: max-height 0.5s ease-out;
	-moz-transition: max-height 0.5s ease-out;
	-ms-transition: max-height 0.5s ease-out;
	-o-transition: max-height 0.5s ease-out;
	transition: max-height 0.5s ease-out;
	max-height: none;
}

.ml-animate-auto-height.ng-hide {
	max-height: 0px;
}