@import "../partials/dependencies";

$template-basic:true;

$body-bg:#eee;

$logo-url: "../../form/bevelanden/img/logo.png";
$logo-width:127px;
$logo-height:115px;
$logo-margin:13px 0 0 20px;
$logo-bg-size:cover;
// $logo-text-indent:0;
$header-height:143px;
$header-padding:0;
$header-bg:#fff;

$primary-color:#c0ce3b;
$secondary-color:#008bc7;
$button-id-bg-color: #333;

$button-primary-bg:$secondary-color;
$button-primary-color:white;
$button-primary-bg-hover:darken($secondary-color,10%);
$button-in-title-color:white;
$border-radius:0;

$anchor-color:$secondary-color;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:none;
$font-family: Arial, sans-serif;
$font-size:87.5%;
$template-width:960px;

// $template-type-open-width:960px;
// $content-padding:20px 0 20px;
// $mobile-content-padding:20px 12px 20px;

$container-border:none;

$form-navigation-margin:0 0 1em;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:$primary-color;
$pip-nav-border-color-active:darken($primary-color,5%);
$pip-nav-anchor-color:#fff;
$pip-nav-anchor-color-active:#fff;
$pip-nav-bg-active:rgba(0,0,0,.1);
$pip-nav-font-size:1em;
$pip-nav-bg-hover:rgba(255,255,255,.1);
$toggle-pip-nav-color:#fff;
$pip-nav-border-weight:2px;

$pip-progress-bar-bg:lighten($primary-color,34%);

$title-text-color:#fff;
$title-bg-color:$primary-color;
$title-font-size:1.65rem;
$title-font-weight:400;
$title-padding-top:1.75em;
$title-padding-bottom:1.75em;
$title-padding-right:1.25rem;
$title-padding-left:1.25rem;
$title-height:auto;

$heading1-color:$secondary-color;
$heading1-fontsize: 2em;
$heading1-weight:400;

$heading2-color:$secondary-color;
$heading2-fontsize:1.75em;
$heading2-weight:400;

$stap-active-anchor-font-weight:400;
$stap-active-bg-color:$primary-color;

$icon-question-sign-color:$secondary-color;

$pip-phase-title-bg:$secondary-color;
$pip-phase-title-border:$secondary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

#logo{
	font-weight: 400;
    font-size: 160%;
    float: left;
    line-height: 80px;
    position: relative;
    z-index: 1;
    
    a{
    	text-decoration: none;
    	color: #222222;
    }
    span {
        font-weight: 600;
    }
}

.pip-nav{
	ul li.current a{
		border-bottom:2px solid $pip-nav-border-color-active;
		margin-bottom:-2px;
	}
}

.pip-case-form-phase-title{
	font-weight: normal;
}

@media only screen and (max-width: $template-type-open-width + 20px) {
    #logo{
        margin-left:20px;
    }
}