@import "../partials/dependencies";

$logo-url: "../../form/diemen/img/logo.jpg";
$logo-width:260px;
$logo-height:75px;

$header-height:105px;
$header-padding:15px 0;

$primary-color:#0168b3;
$secondary-color:#c09701;


$button-id-bg-color: #333;

$button-in-title-color:$primary-color;
$button-in-title-bg-hover:rgba(255,255,255,0.4);
$button-in-title-icon-color:$primary-color;

$anchor-color:$primary-color;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:none;
$anchor-text-decoration-hover:underline;
$font-family:'helvetica neue',helvetica,arial,sans-serif;
$font-size:87.5%;
$template-width:960px;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:darken($pip-nav-background-color,10%) !important;
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-anchor-color:white;
$pip-progress-bar-bg:lighten($primary-color,45%);
$toggle-pip-nav-color:#000;

$title-text-color:white;
$title-bg-color:$primary-color;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";