@import "../partials/dependencies";

$template-basic:true;

$body-bg:#eee;

$logo-url: "../../form/hlt/img/logo-hlt.png";
$logo-width:280px;
$logo-height:28px;
$logo-margin:12px 0 0 23px;
$logo-bg-size:cover;
$header-height:80px;
$header-padding:15px 0 0;
$header-bg:#fff;

$primary-color:#006B98;
$secondary-color:#65c367;
$tertiary-color:#5c5b5b;
$button-id-bg-color: #333;

$button-primary-bg:darken($secondary-color,10%);
$button-primary-color:white;
$button-primary-bg-hover:$primary-color;
$button-in-title-color:white;
$border-radius:5px;

$anchor-color:black;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:none;
$font-family: Roboto, sans-serif;
$font-size:92.5%;
$template-width:960px;

$container-border:none;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:$primary-color;
$pip-nav-border-color-active:$secondary-color;
$pip-nav-anchor-color:#fff;
$pip-nav-anchor-color-active:#fff;

$pip-nav-bg-active:transparent;
$pip-nav-font-size:1em;
$pip-nav-bg-hover:rgba(255,255,255,.1);
$toggle-pip-nav-color:#fff;
$pip-nav-border-weight:2px;

$pip-progress-bar-bg:lighten($primary-color,50%);

$title-text-color:#fff;
$title-bg-color:$primary-color;
$title-font-size:1.4rem;
$title-font-weight:400;
$title-padding-top:1.25em;
$title-padding-bottom:1.25em;
$title-padding-right:1.25rem;
$title-padding-left:1.25rem;
$title-height:auto;

$heading1-color:$primary-color;
$heading1-fontsize: 2em;
$heading1-weight:400;

$heading2-color:$primary-color;
$heading2-fontsize:1.5em;
$heading2-weight:normal;

$stap-active-anchor-font-weight:400;
$stap-active-bg-color:$primary-color;

$icon-question-sign-color:$secondary-color;

$form-navigation-margin:0 0 1em;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

#logo{
	text-indent: 0;
	a{
		font-size:1.5rem;
		color:#aaa;
		text-decoration: none;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-family: 'Roboto Condensed', sans-serif;
		span{
			color:#000;
			font-weight: 600;
			letter-spacing: 4px;
			margin-left:3px;
		}
	}
}

.pip-nav{
	ul li{
		&.current a{
			border-bottom:2px solid $pip-nav-border-color-active;
			margin-bottom:-2px;

		}
		a{
			&:hover{
				border-bottom:2px solid $pip-nav-border-color-active;
				margin-bottom:-2px;
			}
		}
	}
}

.pip-case-form-phase-title{
	font-weight: normal;
}
