@import "../partials/dependencies";

$template-basic:true;

$logo-url: "../../form/imk/img/logo-imk.png";
$logo-width:200px;
$logo-height:35px;
$logo-bg-size:cover;
$logo-margin:12px 0 0 20px;
$header-height:95px;
$header-padding:18px 0;

$body-bg:#eee;
$container-border:none;

$primary-color: #004982;
$secondary-color: #c0001f;

$button-id-bg-color: #333;

$button-primary-bg:$secondary-color;
$button-primary-color:#fff;
$button-primary-bg-hover:lighten($button-primary-bg,10%);
$button-primary-bg-active:darken($button-primary-bg,10%);

$anchor-color:$primary-color;
$anchor-color-hover:$secondary-color;

$anchor-text-decoration:none;
$anchor-text-decoration-hover:none;

$font-family:'helvetica neue',helvetica,arial,sans-serif;
$font-size:82.5%;
$template-width:960px;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:darken($pip-nav-background-color,10%) !important;
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-anchor-color:white;
$pip-progress-bar-bg:$secondary-color;
$toggle-pip-nav-color:#000;

$pip-progress-bar-bg:lighten($secondary-color,20%);

$title-text-color:white;
$title-bg-color:$primary-color;

$title-padding-right:20px;
$title-padding-left:20px;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

#logo{
	float:left;
}