@import "../partials/dependencies";

$template-basic:true;
$template-type:open;

$logo-url: "../../form/lisse/img/logo-lisse.jpg";
$logo-width:126px;
$logo-height:156px;
$logo-margin:0;
$header-height:156px;
$header-padding:0 0 0;
$header-bg:#fff;

$primary-color:#293b9a;
$secondary-color:#62cd25;
$tertiary-color:#D52B00;
$button-id-bg-color: #333;

$button-primary-bg:$primary-color;
$button-primary-color:white;
$button-primary-bg-hover:lighten($primary-color,3%);
$button-in-title-color:white;
$border-radius:0;

$anchor-color:black;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:none;
$font-family: Droid Sans, sans-serif;
$font-size:100%;
$template-width:960px;

$container-border:none;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:#AFD79B;
$pip-nav-border-color-active:$secondary-color;
$pip-nav-anchor-color:white;
$pip-nav-anchor-color-active:white;
$pip-nav-bg-active:transparent;
$pip-nav-font-size:1em;
$pip-nav-bg-hover:rgba(255,255,255,.2);
$toggle-pip-nav-color:white;
$pip-nav-border-weight:0px;

$pip-progress-bar-bg:lighten($primary-color,50%);

$title-text-color:white;
$title-bg-color:$primary-color;
$title-font-size:1.75em;
$title-font-weight:normal;
$title-padding-top:.5em;
$title-padding-bottom:.5em;
$title-padding-right:1.25em;
$title-padding-left:1.25em;

$heading1-color:$primary-color;
$heading1-fontsize: 2em;
$heading1-weight:normal;

$heading2-color:$primary-color;
$heading2-fontsize:1.5em;
$heading2-weight:normal;

$stap-active-anchor-font-weight:bold;
$stap-active-bg-color:$secondary-color;

$icon-question-sign-color:$secondary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

.pip-nav{
	ul li.current a{
		border-bottom:2px solid $pip-nav-border-color-active;
	}
}

.pip-case-form-phase-title{
	font-weight: normal;
}