@import "../partials/dependencies";

$logo-url: "";
$logo-width:90px;
$logo-height:90px;

$header-height:117px;
$header-padding:15px 0;

$primary-color:#295375;
$secondary-color:#f7d526;


$button-id-bg-color: #333;

$button-in-title-color:$primary-color;
$button-in-title-bg-hover:rgba(255,255,255,0.4);
$button-in-title-icon-color:$primary-color;

$anchor-color:#676767;
$anchor-color-hover:#2C74B7;
$anchor-text-decoration:none;
$anchor-text-decoration-hover:none;
$font-family:'helvetica neue',helvetica,arial,sans-serif;
$font-size:82.5%;
$template-width:960px;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:darken($pip-nav-background-color,10%) !important;
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-anchor-color:white;
$pip-progress-bar-bg:lighten($primary-color,45%);
$toggle-pip-nav-color:#000;

$title-text-color:white;
$title-bg-color:$primary-color;

@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

header{
	background:url(../../form/ouder-amstel/img/fotobalk.jpg) no-repeat 0 0;
}