@import "../partials/dependencies";

@font-face{
font-family:"CallunaSansW02-Regular";
src:url("../../form/sudwest-fryslan/fonts/ab46eba0-17c6-416c-a359-a7b6e9adc089.eot?#iefix");
src:url("../../form/sudwest-fryslan/fonts/ab46eba0-17c6-416c-a359-a7b6e9adc089.eot?#iefix") format("eot"),url("../../form/sudwest-fryslan/fonts/71983c74-2e68-44a0-8b48-58a96ceb5911.woff") format("woff"),url("../../form/sudwest-fryslan/fonts/c205cd23-44f6-4dfa-a786-06682d14c9af.ttf") format("truetype"),url("../../form/sudwest-fryslan/fonts/e29e231f-64d7-4a13-85b1-5feef6484a91.svg#e29e231f-64d7-4a13-85b1-5feef6484a91") format("svg");
}
@font-face{
font-family:"CallunaSansW02-Semibold";
src:url("../../form/sudwest-fryslan/fonts/61170e15-1ce1-450e-be1c-58940f764c0c.eot?#iefix");
src:url("../../form/sudwest-fryslan/fonts/61170e15-1ce1-450e-be1c-58940f764c0c.eot?#iefix") format("eot"),url("../../form/sudwest-fryslan/fonts/3d827f9a-cd3a-4363-8aea-09eff5fc5d94.woff") format("woff"),url("../../form/sudwest-fryslan/fonts/2f51ba1f-af52-4285-bac2-153afc3cd8fc.ttf") format("truetype"),url("../../form/sudwest-fryslan/fonts/dcb8d8b7-3600-40d6-9105-22b6a8ff42c6.svg#dcb8d8b7-3600-40d6-9105-22b6a8ff42c6") format("svg");
}

$logo-url: "../../form/sudwest-fryslan/img/logo.png";
$logo-width:305px;
$logo-height:46px;
$header-height:95px;
$header-padding:22px 0;

$primary-color:#BF0042;
$secondary-color:#00b1ec;
$tertiary-color:#71c600;
$button-id-bg-color: #333;

$button-primary-bg:$primary-color;
$button-primary-color:white;

$anchor-color:black;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;
$font-family:CallunaSansW02-Regular,'helvetica neue',helvetica,arial,sans-serif;
$font-family-2:CallunaSansW02-Semibold,'helvetica neue',helvetica,arial,sans-serif;
$font-size:87.5%;
$template-width:960px;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:darken($pip-nav-background-color,10%) !important;
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-anchor-color:white;
$toggle-pip-nav-color:#000;

$pip-progress-bar-bg:lighten($primary-color,50%);

$title-text-color:white;
$title-bg-color:$primary-color;

$title-font-family:$font-family-2;
$heading1-font-family:$font-family-2;
$heading2-font-family:$font-family-2;
$heading2-color:$primary-color;


@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";