@import "../partials/dependencies";

$template-type:open;

$logo-url: "../../form/werkendam/img/logo-werkendam.png";
$logo-width:300px;
$logo-height:80px;
$logo-margin:0 0 0 20px;
$header-height:115px;
$header-padding:15px 0;

$primary-color:#00386b;
$secondary-color:#e0aa00;
$tertiary-color:#703572;
$button-id-bg-color: #333;

$button-primary-bg:$secondary-color;
$button-primary-color:black;
$button-primary-font-weight:bold;

$anchor-color:black;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;
$font-family: Arial,Verdana,'Sans Serif';
$font-size:75%;
$template-width:100%;

$container-border:none;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:$tertiary-color;
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-anchor-color:white;
$pip-nav-bg-active:$tertiary-color;
$pip-nav-font-size:1.2em;
$toggle-pip-nav-color:#fff;

$pip-progress-bar-bg:lighten($primary-color,50%);

$title-text-color:white;
$title-bg-color:$primary-color;

$heading1-color:#4f4f4f;

$heading2-color:#4f4f4f;
$heading2-fontsize:1.6em;


@import "template-normalize";
@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";