@import "../partials/dependencies";

$font-family:'Open Sans', sans-serif;

$template-inner-width:1200px;
$content-width:$template-inner-width;
$content-margin:0 auto;

$primary-color:#14689B;
$secondary-color:#aad544;
$tertiary-color:#b5ee30;
$border-color:#7c7671;

$container-shadow:none;
$container-border:medium none color;

$logo-url:  "";
$logo-width:310px;
$logo-height:73px;
$logo-wrapper-width:$template-inner-width;
$logo-wrapper-margin:0 auto;

$title-font-family:$font-family;
$title-font-weight:normal;
$title-bg-color:white;
$title-text-color:black;
$title-font-size:2.5em;
$title-height:130px;
$title-line-height:130px;
$title-border-bottom:1px solid $border-color;

$button-in-title-color:black;
$button-in-title-bg-hover:#eee;
$button-in-title-icon-color:black;

$header-height:95px;
$header-padding:8px 0 10px;
$header-bg:$primary-color;

$heading-text-transform:default;

$heading1-font-family:$font-family;
$heading1-weight:700;


$heading2-fontsize: 1.666666666666667em;
$heading2-color:$primary-color;
$heading2-weight: 600;
$heading2-font-family:$font-family;

$button-primary-bg:$primary-color;


$border-radius:2px;

$anchor-color:black;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;

$font-size:93.75%;
$template-width:100%;

$pip-nav-background-color:white;
$pip-nav-border-color:darken($pip-nav-background-color,15%) !important;
$pip-nav-border-width:2px;
$pip-nav-border-color-active:$primary-color;
$pip-nav-bg-active:white;
$pip-nav-bg-hover:white;
$pip-nav-anchor-color:#333;
$pip-nav-anchor-color-active:$primary-color;
$pip-progress-bar-bg:$secondary-color;
$pip-nav-font-weight:bold;
$toggle-pip-nav-color:#000;

$pip-progress-bar-bg:lighten($primary-color,35%);

$pip-phase-title-bg:$primary-color;

//$stap-active-bg:$secondary-color;
$icon-question-sign-color:darken($secondary-color,5%);

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";
@import "template-custom";

header{
	//background-image:url(../../form/zaaksysteem/img/splash-crowd.jpg);
	background-repeat:no-repeat;
	background-position: center center;
	background-size:cover;
}

#logo img{
	width:235px;
	height:80px;
	display: block;
}

a:hover{
	cursor: pointer !important;
}

.blockcontent{
	margin-bottom:30px;
}

#loginwrap .header,
#loginwrap .block-header{
	margin-bottom:30px;
}

.form-navigation{
	position: relative;
	top:-1px;
}

.pip-nav{
	ul li a{
		padding:30px 0
	}
}

.header-actions .button{
	i,.button-text{
		vertical-align: middle;
	}
}

.webform .block-header{
	border-bottom:none;
}

@media only screen and (max-width: $breakpoint-mobile) {

	.pip-nav ul li.current a,
	.pip-nav ul li a:hover{
		border-bottom:none;
		margin:0;
	}

	.pip-nav{
		margin:0 -2%;
	}

	.pip-nav ul li a{
		padding:15px 1%;
	}

	.pip-nav ul li a i{
		min-width:40px;
		display: inline-block;
		text-align: center;
	}

	.header,
	.header h1,
	.block > .header > .header-actions{
		height:80px;
		line-height: 80px;
	}

	.header h1{
		font-size:2em !important;
	}

	.stap-titel,h2{font-size:1.5em !important;}

	header{
		height:70px;
		padding:0;
	}

	#logo img {
	    width: 260px;
	    height: 70px;
	    display: block;
	}

	#logo,
	#logo a{
		height:50px;
	}

	.pip-content{
		padding:0 !important;
	}

}

@media only screen and (max-width: 1240px) {

	#main,#logo{
		width:100%;
		padding:0 2%;
		@include box-sizing(border-box);
	}

	.blockcontent,
	.block-content{
		padding:0 !important;
	}

}