@import "~angular-dragula/dist/dragula.css";

zs-case-relation-view{
	padding:0 1.5rem 5rem 1.5rem;
	flex: 1;
	flex-flow: column nowrap;
	overflow-y: auto;
}

$relations-table-border-color:#d5d5d5;

.relations-block{
	margin-bottom:2rem;
	.zs-table{
		border-right:1px solid $relations-table-border-color;
		border-left:1px solid $relations-table-border-color;
	}
	.zs-table-header-cell,
	.zs-table-cell{
		border-color:$relations-table-border-color;
	}
	.zs-table-empty{
		border:1px solid $relations-table-border-color;
		border-top:none;
	}
	zs-object-suggest,
	.btn{
		margin-top:1rem;
		max-width:350px;
	}
}

.collection-action-list{
	margin:0;
	li{
		display: inline-block;
		margin-right:.75rem;
	}
}
