.date-picker {
	width: 300px;
	margin-bottom:15px;
	border-radius: 3px;
    padding: 5px 10px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.date-picker-month-year,
.date-picker-month-label,
.date-picker-year-select,
.date-picker-month-button {
	display: inline-block;
	vertical-align: middle;
}

.date-picker-month-year{
	width:65%;
}

.date-picker-month-label{
	font-weight: bold;
}

.date-picker-days {
	width: 100%;
}

.date-picker-day-button {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	border:none;
	background: #fff;
}

.date-picker-month {
	padding:15px 0 20px;
	text-align: center;
	button{
		background:none;
		border:none;
	}
}

.date-picker-year-select input[type=number]{
	padding:2px 5px;
	width:65px;
	margin-left:5px;
}

.date-picker-day-button-dimmed {
	opacity: 0.3;
	&.date-picker-day-button-active {
		opacity:1;
	}
}

.date-picker-day-button-active {
	background: #333;
	color: white;
}

.form-date-range-picker{
    .date-picker-day-cell{
        border:none;
        padding:0.3em;
        width:20px;
        line-height: 2;
        font-weight: bold;
        button{
        	font-weight: bold;
        }
    }
    th.date-picker-day-cell{
        text-align: center;
    }
}