$document-view-editor-background:#eee;

.modal-webodf{
	.modal-body{
		top:0;
		bottom:0;
		right:0;
		left:0;
		max-height:none;
		max-width:none;
	}
	.modal-content{
		top:56px;
	}
}

zs-case-document-odf-editor {
	ul.toolbar {
		margin-bottom: 0.8em;
		padding:.5em;
		border-bottom:1px solid rgba(0,0,0,0.2);
		  position: fixed;
		  top: 56px;
		  z-index: 1;
		  background-color: #fff;
		  right: 0;
		  left: 0;
		  text-align: center;
		li {
			display: inline-block;
			& + li {
				margin-left: 0.5em;
			}
			input[type=number] {
				width: 50px;
				vertical-align: middle;
			}
			.toolbar-button {
				border: 1px solid rgba(0,0,0,0.1);
				padding: 0.25em 0.5em;
				cursor: pointer;
				&:hover {
					background-color: rgba(0,0,0,0.1);
				}
				&.toolbar-button-active {
					background-color: rgba(0,0,0,0.2);
				}
			}
		}
	}
	list > list-item > :not(list):first-child {
		position:  relative !important;
		margin-left: 30px;
		&::before {
			margin-left: 0 !important;
			top: 0.05em;
			left: -1em;
			position: absolute !important;
			float: none !important;
		}
	}

	.document-canvas {
		overflow: hidden;
		display: block !important;
		margin: 0 auto;
	  	box-shadow: 1px 1px 4px rgba(0,0,0,.2);
	}
	document body {
		box-shadow: 1px 1px 4px rgba(0,0,0,.2);
		table table-cell {
			padding: 0.2em;
		}
		p frame {
			position: static !important;
		}
	}
	.zs-spinner{
		position: fixed !important;
		top: 111px;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.toolbar-button{
    display: inline-block;
    font: normal normal normal 1.3em/1 MaterialDesignIcons;
    font-size: inherit;
    vertical-align: middle;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    font-size:1.4em;
	&.save:after{content: "\f236"}
	&.saveas:after{content: "\f237"}
	&.undo:after{content: "\f518";}
	&.redo:after{content: "\f45c";}
	&.bold:after{content: "\f2e8";}
	&.italic:after{content: "\f2f4";}
	&.underline:after{content: "\f301";}
	&.alignleft:after{ content: "\f2e6";}
	&.aligncenter:after{content: "\f2e4";}
	&.alignright:after{content: "\f2e7";}
	&.justify:after{content: "\f2e5";}
	&.outdent:after{content: "\f2f2";}
	&.indent:after{content: "\f2f3";}
	&.toggleannotations:after{content: "\f220";}
	&.hyperlink:after{content: "\f386";}
	&.disclaimer:after{content: "\f33a";}
	&.insertimage:after{content: "\f2a9";}
	&.bulletlist:after{content: "\f2f6";}
	&.numberedlist:after{content: "\f2f7";}
}

.toolbar-button-tooltip{
	text-align: left;
	position: absolute;
  	background-color: #fff;
  	border: 1px solid rgba(0,0,0,0.2);
  	padding: 10px;
  	top: 107%;
  	box-shadow:0 2px 2px rgba(0,0,0,0.15);
  	max-width:300px;
  	margin-right:10px;
  	input[type=text]{
  		width:100%;
  		margin-right:4px;
  		padding:4px;
  		box-sizing:border-box;
  		margin-bottom:6px;
  	}
  	&:after,
    &:before {
        left: 22px;
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        z-index:1;
    }
    &:after {
        border-color: rgba(233, 242, 244, 0);
        border-bottom-color: #fff;
        border-width: 6px;
        margin-left: -6px;
    }
    &:before {
        border-color: rgba(143, 173, 182, 0);
        border-bottom-color: rgba(0,0,0,0.3);
        border-width: 7px;
        margin-left: -7px;
    }
}

.modal-webodf .modal-content{
	background:$document-view-editor-background;
	padding-top:70px !important; 
	padding-bottom: 50px !important;
}

.modal-webodf .modal-header .modal-title:after{
	  content: 'Beta';
	  background-color: #DADADA;
	  display: inline-block;
	  margin-left: 8px;
	  color: #A09595;
	  padding: 2px 6px;
	  vertical-align: middle;
	  font-size: .8em;
	  position: absolute;
	  border-radius: 3px;
	  top: 19px;
	  right:50px;
}
