.zaakdossier .spinner-groot{
    top: 36px;
}

.tabs-header{
    position: relative;
}

.tabs-header-saved{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #aaa;
    -webkit-transition: background-color 0.5s ease-out, color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out, color 0.5s ease-out;
    -ms-transition: background-color 0.5s ease-out, color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out, color 0.5s ease-out;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
    padding: 2px 4px;
    border-radius: 2px;
    font-size:13px;
}

.tabs-header-saved-unsaved {
    color: #000;
}

.icons-zaakdossier{
    background: url(/images/icons-zaakdossier.png);
}

.zaakdossier .ui-tabs .ui-tabs-panel{
    padding: 0;
}

.zaakdossier .ui-tabs .ui-tabs-nav li{
    &.tab-icon{
        padding-left: .6em;
        padding-right: .6em;
        a{
            background-position: 0 -4px;
            text-indent: -9999px;
            width: 32px;
            display: block;
            padding-left: 0;
            padding-right: 0;
            height:42px;
        }
        &.tab-timeline a{
            background-position: -32px -4px;
        }
        &.tab-icon.tab-subcases a{
            background-position: -64px -4px;
        }
    }
    .icon{
        margin-right: 8px;
    }
    .icon-fase-done{
        background-position: 0 -54px;
    }
    .icon-fase-new{
        background-position: -16px -54px;
    }
    .counter{
        z-index:1;
        top:-5px;
        right:-2px;
        display: none;
    }
    &.fase-has-notifications .counter{display:block;}
    .mdi{
        margin-right:3px;
        font-size:1.4em;
    }
}

.tab-info{
    display: none;
    background: #dfe975;
    padding: 8px 16px;
    border-bottom: 1px solid #a4a5a0;
    position: relative;
    z-index: 3;
    height: 19px;
    font-size: 13px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin: 0 1px;
    .icon-tab-info{
        background-position: -32px -54px;
    }
}

.ui-tabs-hidden{
    visibility: hidden;
}

.ui-tabs-visible{
    visibility: visible;
}

.button-unlock-registration-phase{
    margin:10px 0 0;
}

.fase-label{
    vertical-align: middle;
}