.zaakdossier-titel{
    height: 100px;
}

.zaak-info{
    position: relative;
}

.zaak-info-inner{
    //margin-right: 210px;
    padding: 25px 0 17px 25px;
}

.zaaktitel {
    span{
        font-weight: normal;
        opacity:.5;
    }
}

.zaakdossier-tabs{
    background: $page-header-background-color;
    border:none;
}

.zaak-acties{
    right: 22px;
    top: 22px;
    position: absolute;
    height: 38px;
    .button_num_1{
        float: right;
    }
}

.zaak-meta{
    font-size:0.929em;
    font-weight: normal;
    padding: 15px 0 2px;
    overflow:hidden;
    height:20px;
    em{
        color:#aaa;
        font-style: normal;
    }
    .zaak-meta-item{
        display: block;
        float: left;
        margin-right: 11px;
        max-width:165px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        &.zaak-is-over-streefdatum{
            color:darken(red,5%);
            font-weight: bold;
        }
        &.zaak-meta-item-anchor{
            color:$anchor-color;
            text-decoration: underline;
            &:hover{
                cursor: pointer;
                color:$anchor-hover-color;
            }
        }
    }
    span.zaak-meta-item:hover{
        cursor: default;
    }
    .zaak-meta-item-action{
        text-decoration: underline;
    }
    .mdi{
        color:$primary-color;
        text-decoration: none;
        font-size:1.6em;
    }
}

.modal-vertrouwelijkheid label{
    display:block;
}

@media screen and (max-width: 1124px) {

    .zaak-acties{
        top:12px !important;
        right:12px !important;
        .button-large{
            padding:$button-normal-padding-vertical $button-normal-padding-horizontal !important;
            font-size:1em !important;
            min-width:1em !important;
        }
    }

}