.timeline-item-icon {
    background: url(/images/icons-timeline.png) no-repeat -32px 0;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 8px;
    top: 7px;
    margin-right: 10px;
}

.timeline-item-icon[data-event-type="document"]{
    background-position: -32px 0;
}

.timeline-item-icon[data-event-type="note"]{
    background-position: -96px 0;
}

.timeline-item-icon[data-event-type="contactmoment"]{
    background-position: -64px 0;
}

.timeline-item-icon[data-event-type="case"],
.timeline-item-icon[data-event-type="case-mutation"]{
    background-position: -128px 0;
}

.timeline-item-icon[data-event-type="product"]{
    background-position: -160px 0;
}

.timeline-item-icon[data-event-type="question"]{
    background-position: -192px 0;
}

.timeline-item-icon[data-event-type="email"]{
    background-position: -224px 0;
}


.timeline-item-icon[data-event-type="document"]{
    background: url(/images/icons-docs.png) no-repeat;
}

.timeline-item-icon[data-mimetype="txt"] { background-position: -32px 0; }
.timeline-item-icon[data-mimetype="msword"],
.timeline-item-icon[data-mimetype="vnd.openxmlformats-officedocument.wordprocessingml.document"] { background-position: -64px 0; }
.timeline-item-icon[data-mimetype="vnd.oasis.opendocument.text"] { background-position: -96px 0; }
.timeline-item-icon[data-mimetype="pdf"] { background-position: -128px 0; }
.timeline-item-icon[data-mimetype="jpeg"],
.timeline-item-icon[data-mimetype="pjpeg"] { background-position: -160px 0; }
.timeline-item-icon[data-mimetype="png"] { background-position: -192px 0; }
.timeline-item-icon[data-mimetype="gif"] { background-position: -224px 0; }
.timeline-item-icon[data-mimetype="vnd.ms-excel"] { background-position: -384px 0; }