<div class="suggest-advanced-search">


	<div class="suggest-advanced-search-body"
		ng-switch="vm.getViewMode()"
	>

		<div class="suggest-advanced-search-header">
			<button
				type="button"
				ng-click="vm.handleBackClick()"
				class="button-reset suggest-advanced-search-header-back-button"
			>
				<zs-icon icon-type="arrow-left"></zs-icon>
			</button>
			<span>Uitgebreid zoeken</span>
			<zs-spinner class="spinner-small" is-loading="vm.isLoading()"></zs-spinner>
		</div>


		<form
			class="suggest-advanced-search-form"
			ng-submit="vm.handleSearchSubmit($event)"
		>

			<vorm-fieldset
				data-fields="vm.getFields()"
				data-values="vm.getValues()"
				data-valid="vm.getValidity().validations"
				on-change="vm.handleChange($name, $value)"
			>

			</vorm-fieldset>

			<div class="form-actions">

				<button
					type="submit"
					class="btn btn-primary"
					ng-disabled="!vm.canSubmit()"
				>
					Zoeken
				</button>


			</div>

		</form>

		<div
			class="suggest-advanced-search-results"
			ng-switch-when="results"
		>

			<div class="suggest-advanced-search-results-inner">

				<div class="suggest-advanced-search-header">

					<button
						type="button"
						ng-click="vm.handleBackClick()"
						class="button-reset suggest-advanced-search-header-back-button"
					>
						<zs-icon icon-type="arrow-left"></zs-icon>
					</button>

					<span>Resultaten</span>

					<zs-spinner
						class="spinner-tiny"
						is-loading="vm.isLoading()"
					>
					</zs-spinner>
					
				</div>

				<div
					class="suggest-advanced-search-result-body"
					ng-switch="vm.isSubjectType()"
				>

					<zs-suggestion-subject-list
						data-type="vm.type()"
						on-select="vm.handleSelect($object)"
						data-results="vm.getResults()"
						remote-interface-id="vm.getFormattedValues().remote"
						ng-switch-when="true"
					></zs-suggestion-subject-list>

					<zs-advanced-search-result-list
						data-results="vm.getResults()"
						data-columns="vm.getColumns()"
						on-select="vm.handleSelect($object)"
						ng-switch-when="false"
					></zs-advanced-search-result-list>

					
					<zs-pagination
						current-page="vm.getPage()"
						has-next-page="vm.hasNext()"
						has-prev-page="vm.hasPrev()"
						on-page-change="vm.handlePageChange($page)"
						on-limit-change="vm.handleLimitChange($limit)"
						data-limit="vm.getRowsPerPage()"
						is-loading="vm.isLoading()"
					></zs-pagination>

				</div>

			</div>

		</div>

	</div>

</div>
