<div ng-switch="proposalItemList.getViewSize()">

	<!-- Mobile viewports -->
	<a 
		class="proposal-item" 
		ng-repeat="proposal in proposalItemList.getSmallProposals() track by proposal.$id"
		ng-class="proposal.classes"
		ng-href="{{::proposal.link}}"
		ng-switch-when="small"
		proposal-case-number="{{::proposal.casenumber}}"
		>

		<div class="proposal-item__col proposal-item__col--first" ng-show="proposalItemList.isGrouped()">
			<span class="proposal__number">{{::proposal.agendapunt_nummer}}</span>
		</div>
		<div class="proposal-item__col">
			<span class="proposal-item__title">{{::proposal.subject}}</span>
			<zs-icon icon-type="note-plus" ng-show="proposal.notes"></zs-icon>
		</div>
	</a>

	<!-- Tablet viewports -->
	<table 
		ng-show="proposalItemList.getProposals().length"
		ng-switch-when="wide"
		class="proposal-item-table"
		>
		<thead>
			<th ng-repeat="item in proposalItemList.getConfigColumns() track by item.internal_name.searchable_object_id"
				ng-class="item.colClass"
				ng-click="proposalItemList.sortByColumn(item)"
			>
				<div
					class="proposal-list__table-header-label"
					ng-class="item.classes"
				>				
					<span class="proposal-list__table-header-label-value">{{::item.templateValue}}</span>
					<zs-icon icon-type="{{item.icon}}"></zs-icon>
				</div>
			</th>
		</thead>
		<tr ng-repeat="proposal in proposalItemList.getProposals() track by proposal.$id"
			ng-click="proposalItemList.handleProposalClick(proposal)"
			ng-class="proposal.classes"
			proposal-case-number="{{::proposal.casenumber}}"
		>
			<td 
				ng-repeat="value in proposal.values track by value.id" 
				ng-bind-html="value.template"
			>
			</td>
		</tr>
	</table>

</div>
