[% USE Dumper %]

[% IF
    veldoptie_type == 'bag_adres' ||
    veldoptie_type == 'bag_adressen' ||
    veldoptie_type == 'bag_straat_adres' ||
    veldoptie_type == 'bag_straat_adressen' ||
    veldoptie_type == 'bag_openbareruimte' ||
    veldoptie_type == 'bag_openbareruimtes'
%]
    [% IF !veldoptie_value %]-[% END %]
    [% FOREACH value IN veldoptie_value %]
        [%
            c.model('DB::BagNummeraanduiding').get_human_identifier_by_source_identifier(value, { prefix_with_city => 1})
            %]
        <!--([% value %])--><br />
    [% END %]
[% ELSIF veldoptie_type == 'image_from_url' %]
    [% UNLESS veldoptie_value.length %]
    <span>-</span>
    [% ELSE %]
    <img src="[% veldoptie_value | html %]" />
    [% END %]
[% ELSIF veldoptie_type == 'calendar' %]
    [% PROCESS widgets/general/veldoptie/qmatic.tt
        qmatic_can_edit = 0
     %]
[% ELSIF veldoptie_type == 'calendar_supersaas' %]
    [% PROCESS widgets/general/veldoptie/supersaas.tt
        supersaas_can_edit = 0
     %]
[% ELSIF veldoptie_type == 'file' %]
    [% PROCESS widgets/general/veldoptie/file_view.tt 
        uploaded_files = veldoptie_value
        view_mode = 1
    %]
[% ELSE %]
    [% IF veldoptie_value.0.defined %]
        <ul>
        [% FOREACH veldvalue IN veldoptie_value %]
            [% IF veldoptie_type.match('^valuta') %]
                [%
                    USE ValutaFormattingFilter;

                    veldvalue = veldvalue.0 || veldvalue;
                    IF veldoptie_value;
                      veldoptie_value = veldoptie_value | $ValutaFormattingFilter;
                      veldoptie_value = veldoptie_value | format('%01.2f');
                    END;
                %]
            [% END %]

            [% UNLESS veldvalue.length %]
                [% veldvalue = '-' %]
            [% END %]

            <li>[% veldvalue | html | html_line_break %]</li>
        [% END %]
        </ul>
    [% ELSIF veldoptie_type == 'url' %]
        <span>[% veldoptie_value %]</span>
        [% IF veldoptie_value %]
            <button class="ezra_url_field_goto button button-secondary button-small" rel="[% veldoptie_value %]" title="Ga naar de url">
                <i class="icon-font-awesome icon icon-external-link"></i>
            </button>
        [% ELSE %]-
        [% END %]
    [% ELSIF veldoptie_type == 'richtext' %]
        <div class="rijke-tekst">
            [% PROCESS widgets/general/longtext.tt my_text = veldoptie_value %]
        </div>
    [% ELSIF veldoptie_type == 'objecttype' %]
        [% PROCESS widgets/general/veldoptie/objecttype.tt
            view_mode = 1
        %]
    [% ELSE %]
        [% IF veldoptie_type.match('^valuta') %]
            [%
                USE ValutaFormattingFilter;

                veldoptie_value = veldoptie_value.0 || veldoptie_value;
                IF veldoptie_value;
                  veldoptie_value = veldoptie_value | $ValutaFormattingFilter;
                  veldoptie_value = veldoptie_value | format('%01.2f');
                END;
            %]
        [% END %]

        [% PROCESS widgets/general/longtext.tt my_text = veldoptie_value %]
    [% END %]
[% END %]

