button{
    font-size:1em;
    background-color:transparent;
}

@import "partials/dependencies";
@import "partials/button";
@import "partials/dropdown";
@import "partials/button";


// Misc

    .show-more{
        padding: 8px 0;
        display:block;
        color: #aaa;
        font-size: .92em;
        text-align: left;
        border-bottom: 1px solid #eee;
        background:transparent;
        width:100%;
        outline: none;
    }
    
    .show-more:hover{
        cursor: pointer;
        background: $background-color;
    }

    .show-more.show-less .icon-show-more  { background-position: 0 -18px;}

    .show-more-no-line{
        border:none;
        padding:3px 0;
        background:#f9f9f9;
        background:rgba(0,0,0,0.05);
        margin:8px 0 0;
        text-align: center;
        &:hover{
            background:#f0f0f0;
            background:rgba(0,0,0,0.07);
        }
    }


// ID Knop
    
    .id-knop{
        background: #222;
        display: block;
        margin:0 0 30px;
        border-radius: 5px;
        color: white !important;
        text-decoration: none;
        text-align: center;
        font-size: 1.385em;
        font-weight: normal;
        line-height: 1;
        text-transform: none;
        height: auto;
        border: 1px solid #222222;
        padding: 21px 0 20px;
        width: 100%;
    }
    
    .id-knop:hover{
        cursor: pointer;
        background: rgb(85,85,85);
        border-color:rgb(85,85,85);
    }
    
    .id-knop:active{
        border: 1px solid #222222;
        position: relative;
        top: 1px;
        background: rgb(34,34,34);
    }
    
    .id-knop-groot{
        line-height: 3;
        font-size: 1.692em;
    }

    .id-knop.id-knop-digid img{
        vertical-align: middle;
        display: inline-block;
    }
