@import "partials/dependencies";

/* @group Contact */

.contact{
    background:$page-header-background-color;
}

.contact .contact-header{
    padding: 25px 0 17px 25px;
    position: relative;
}

.contact-acties{
    right: 25px;
    top: 25px;
    position: absolute;
    height: 38px;
}

.contact-gegevens-overzicht{
    font-size: 13px;
    font-weight: normal;
    padding:8px 0 0;
}

.contact-dashboard{
    position: absolute;
    padding: 0;
    left: 0px;
    top: 179px;
    right: 0px;
    bottom: 0px;
    background:#fff !important;
}

.contact-dashboard .splitter-dashboard {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0px;
}

.contact-dashboard .blockcontent-left{
    width: 35%;
}

.contact-dashboard .blockcontent-right{
    width: 65%;
}

.contact-dashboard .ui-layout-pane{
    padding: 0;
}

.contact-dashboard-header{
    overflow: hidden;
    position: relative;
    z-index: 5;
    padding:5px 0 10px;
}

.contact-dashboard-header .filter-veld{
    position: absolute;
    right: 0;
    top: 0;
    .zaken_filter_form, .search_wrap{
        margin:0;
    }
}

.contact-dashboard-header .filter-veld input{
    background-color: #fff;
}

.contact-dashboard-content{
    padding: 20px;
}

.contact-dashboard-timeline{
    .filter-veld input{
        width: 90px;
    }
    .timeline-title{
        display: none;
    }
    .contact-dashboard-content{
        padding-bottom:0;
    }
}

.contact-informatie{
    ul{
        margin-left: 15px;
    }
    h2{
        margin-top:20px;
    }
}

.contact-zaken{
    &.ui-tabs-panel{padding:.5em 1.5em;}
    .header-filter{
        margin-top: -71px;
        margin-bottom: 44px;
    }
}

#tab-wgt-timeline{
    padding: 0;
}

.contact-dashboard .timeline{
    padding: 0em !important;
    margin-left:-8px;
}


.contact-dashboard .timeline-content{
    padding-top:0;
}

.contact-dashboard .timeline-content,
.contact-dashboard .timeline-inner{
    width: auto !important;
}

.contact-dashboard .timeline-inner{
    padding: 20px 0 0;
}

.contact-dashboard .timeline .timeline-item{
    width: auto;
}

.contact-dashboard .timeline .notitie input[type="text"],
.contact-dashboard .timeline .notitie textarea{
    width: 100%;
    padding: 5px 2%;
}

.contact-dashboard .timeline .notitie .timeline-form-contactmoment .spot-enlighter-wrapper {
    width: 15%;
}

.contact-dashboard .timeline .notitie .timeline-form-contactmoment .spot-enlighter-wrapper > input {
    padding-left: 4px;
    padding-right: 4px;
    background: none;
}

.contact-dashboard .timeline-form-contactmoment select{
    width: 90px;
}

.contact-dashboard .timeline-item-date{
    position: static;
    margin: 0;
    color: #000;
    font-weight: bold;
}

.contact-dashboard .timeline-item-title{
    padding: 10px 10px 0px 50px;
    font-size: 12px !important;
}

.contact-dashboard .timeline-item-titel{
    font-size: 13px !important;
    height: auto;
    padding: 4px 0;
}

.contact-dashboard .timeline-filter{
    display: none;
}

.contact-dashboard .timeline-form-contactmoment > span{
    padding: 0 0 0 4px;
    font-size: 11px;
    font-weight: 600;
    color: #777;    
}

.contact-dashboard .timeline-item-extended .timeline-item-titel{
    padding-top: 4px;
}

.contact-dashboard .timeline-loader button{
    margin-bottom: 20px;
    display: inline-block;
}

.contact-dashboard .timeline-loader.timeline-loader-loading button{
    visibility: hidden;
}

.contact-dashboard .timeline .contactchannel-select-wrapper{
    width: auto;
}

.contact-wachtwoord-wijzigen{
    input{
        width:50%;
    }
    table{
        margin-bottom:15px;
    }
}

.contact-settings-block{
    margin-bottom:10px;
    h3{
        border-bottom:2px solid #ddd;
        margin:0;
        padding:15px 0;
    }
    .contact-settings-block-content{
        padding:15px 0;
    }
}

.contact-signature-current{
    padding:10px 0;
    img{
        display: block;
        margin-bottom:10px;
    }
}

.contact-signature-upload-help{
    padding:10px 0;
}

.contact-signature-wijzigen-empty .contact-signature-upload-help{
    display: block;
}

.contact-signature-upload-button, .contact-signature-upload-remove{
    display: inline;
}

.ui-tabs .ui-tabs-panel.contact-instances{
    padding:1.5em 1.5em 1.5em 2.5em;
}

[data-zs-modal-title] .modal-body{
    width:900px;
    input[type=text],textarea{
        width:100%;
    }
}

@import "partials/control-panel";