@import "partials/dependencies";
@import "partials/forms/alt-auth";
@import "partials/form-navigation";
@import "partials/forms/forms-globals";
@import "partials/forms/forms-input-textarea";
@import "partials/forms/forms-radio-checkbox";
@import "partials/forms/forms-select";
@import "partials/forms/forms-captcha";   
@import "partials/forms/forms-start-zaak-box";
@import "partials/validator";
@import "partials/guideline";
@import "partials/angular-forms";
@import "partials/form-fields-layout";
@import "partials/kenmerk-layout";
@import "partials/veldopties";
@import "partials/motherloader";
@import "partials/rich-text";

@import "partials/openlayers";
@import "partials/angular-autocomplete";
@import "partials/angular-modal";
@import "partials/angular-accordion";
@import "partials/tooltip";
@import "partials/label";


.webformcontent {
    position: relative;
    margin-bottom:20px;
}

.form *{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    textarea{ 
        min-height:7em;
        width:100%;
    }

    label.titel{
        font-weight: normal;
        color: #222;
        float: none;
        text-align: left;
        display: block;
    }

    label{
        display: block;
    }
    select{
        margin:4px 0;
    }
}

// custom

.search_wrap{
    position: relative;
    float: left;
    .icon{
        position: absolute;
        margin-top: -8px;
        top: 50%;
        right: 6px;
    }
}

.zoek_veld{
    width: 310px;
    input[type=text]{
        width: 246px;
        float: left;
        padding: 5px;
    }
    .search_wrap{
        margin-right:6px;
    }
}

.form.aanvrager{
    input[type=text]{
        width:100%;
    }
}

.cheating{
    font-weight: normal;
    font-size:13px;
    float:right;
    margin-right:10px;
    margin-top:2px;
}

.form-actions,
.form-actions.form-actions-old{
    padding: 15px 0;
    display: block;
}

.form-actions-inner{
    padding: 0 20px;
}

.form-actions-sticky{
    position: fixed;
    width:100%;
    bottom:0;
    left:0;
    right:0;
    padding:1rem 7rem 1rem 1rem !important;
    background:$background-color;
    border-top:1px solid #bbb;
    box-sizing:border-box;
    z-index:1;
    display: flex;
    align-items: center;
    .voortgang{
        flex-grow:1;
        text-align: center;
        padding:0;
        border-bottom:none;
    }
}

.form-required-fields-explanation{
    margin:5px 0 0;
    font-size:.85em;
    color:#666;
}

.form-warning{
    background:#ffffcc;
    padding:10px;
    margin:20px 0;
    border:1px solid #d5d583;
    .icon-warning-sign{
        color:#000;
        margin:0 5px;
    }
}

.form-change-allocation{
    >label{
        clear:both;
        display: block;
        line-height: 2;
        input{
            margin-right:5px;
        }
    }
}

.form-change-allocation-assignee{
    margin-bottom:10px;
}

.form-change-allocation-assignee,
.form-change-allocation-group{
    margin-top:5px;
}

@media only screen and (max-width: $breakpoint){

    #webform-intake{
        .row{
            .large-4, 
            .large-8{
                width:100%;
            }
            .large-4{
                padding-bottom:.5rem;
                font-size:1.0667em;
            }
            .large-8{
                padding-top:0;
            }
        }
    }

}

@media only screen and (min-width: 730px){
    .intern #webform-intake{
        padding:2rem 7rem 4rem;
        background: #f8f8f8;
        box-shadow:0 9px 73px #f6f6f6;
        .block{
            max-width:85rem;
            margin:0 auto;
            box-shadow:0 0 3px rgba(0,0,0,.4);
        }
    }
}