.spinner {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:rgba(0,0,0,0.45);
    @include opacity(0);
    visibility: hidden;
    @include transition-property(opacity);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease);
    z-index: 8000;
    > div{
        padding:7px;
        @include border-radius(3px);
        width: 48px;
        height: 48px;
        background: url(/images/spinner-apple.gif) no-repeat 50% 50% #000;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -16px;
        margin-left: -16px;
    }
}

.spinner.ui-blocked {
    visibility: visible;
    opacity:1;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
    @include transition-property(opacity);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease);
    @include transition-delay(0.5s);
}

.ie8 .spinner.ui-blocked{
    background: url(/images/ie_custom_overlay.png) repeat transparent;
}

.zs-spinner{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include opacity(0);
    visibility: hidden;
    @include transition-property(opacity);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease);
    z-index: 8000;
    &.zs-spinner-visible{
        visibility: visible;
        opacity:1;
        @include transition-property(opacity);
        @include transition-duration(0.25s);
        @include transition-timing-function(ease);
        @include transition-delay(0.5s);
    }
    &.zs-spinner-instant {
        @include transition-delay(0s);
    }
}

.zs-spinner-fixed {
    position: fixed;
}

.zs-spinner-icon{
    padding:7px;
    @include border-radius(3px);
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}

.zs-spinner-tiny {
    .zs-spinner-icon {
        width: 16px;
        height: 16px;
        margin-top: -8px;
        margin-left: -8px;
    }
}

.zs-spinner-tiny,
.zs-spinner-small, 
.zs-spinner-medium {
    background:rgba(255,255,255,0.85);
    position: absolute;
}

.zs-spinner-tiny .zs-spinner-icon,
.zs-spinner-small .zs-spinner-icon{
    background: url("/images/ajax-loader.gif") no-repeat 0 0;
}

.zs-spinner-medium .zs-spinner-icon{
    background: url("/images/spinner-global.gif") no-repeat 0 0;
}

.zs-spinner-large{
    background:rgba(0,0,0,0.45);
    .zs-spinner-icon{
        width: 48px;
        height: 48px;
        background: url(/images/spinner-apple.gif) no-repeat 50% 50% #000;
        margin-top: -16px;
        margin-left: -16px;
    }
}
