// angular breadcrumb

    .breadcrumb{
        list-style: none;
        width:100%;
        height: 100%;
        overflow: hidden;
        padding:15px 8px;
        box-sizing:border-box;
        background: $background-color;
        border-bottom:1px solid darken($background-color,10%);
    }

    .breadcrumb-in-header{
        .breadcrumb{
            padding:15px 8px 0;
            border-bottom:0;
            background: $page-header-background-color;
        }
    }

    .breadcrumb-item{
        display: inline-block;
    }

    .breadcrumb-item-button,
    .breadcrumb-item-label{
       padding:0 18px 0 13px; 
    }

    .breadcrumb-item-button,
    .breadcrumb-item-label,
    .breadcrumb-arrow{
        font-size:1em;
        text-align: center;
        display: inline-block;
    }

    .breadcrumb-item-button{
        position: relative;
        box-sizing:border-box;
        &:after,
        &:before{
            content:'';
            display: block;
            position: absolute;
            top:0;
        }
        &:focus{
            outline:none;
        }
    }

    .phase-breadcrumb-item-status-unavailable{
        .breadcrumb-item-label{
            @include opacity(.3);
        }
        .breadcrumb-item-button:hover{
            cursor:default;
        }
    }

    .breadcrumb-arrow{
        &:after{
            content: "\f105";
            font-family: 'FontAwesome';
            text-decoration: none;
            margin:0 1px;
            opacity: .25;
        } 
    }

// oude breadcrumb

#breadcrumb-wrap{
    margin: 0 0 15px;
    margin:0 auto;
}

.breadcrumb-divider{
    width:1px;
}

#breadcrumb{
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
    a, span.last{
        display:inline-block;
        padding:0 13px;
        font-weight: 600;
        text-decoration: none;
        line-height:3;
        overflow: hidden;
        border-left:1px solid #ddd;
    }
    a:hover{
        background-color:#f0f0f0;
    }
    span.last{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .prev a{
        color:#000;
    }
    a.prev{
        background:#ddd;
        color:#000;
        max-width:140px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-left:-4px;
        &:hover{
            text-decoration:underline;
        }
        &:first-child{
            margin-left:0;
        }
        .home{
            padding: 0 13px 0 19px;
        }
    }
    span{
        &.pijl{
            height:100%;
            display:inline-block;
            width:1px;
            margin-left:-4px;
            border-left:1px solid #ddd;
        }
        &.next{border:none;}
    }
    td { 
        padding:0;
        text-align:center;
        border-bottom:none;
        a { float:none; }
    }
}



.voortgang{
    &.breadcrumb{
        list-style: none;
        height: auto;
        background: transparent;
        border-bottom:none;
    }
    width:70%;
    margin:0 auto;
    text-align: center;
    position:absolute;
    left:50%;
    margin-left:-35%;
    padding:6px 0;
    a,button{
        font-weight: 600;
        padding:0 12px;
        &.voortgang-current{
            color:#000;
            text-decoration: none;
        }
    }
    button{
        color:$anchor-color;
        text-decoration: underline;
        padding:0 22px 0 16px;
        &:hover{
            color:$anchor-hover-color;
        }
    }
    .breadcrumb-item-active{
        button{
            color:#000;
            text-decoration: none;
        }
    }
    span.voortgang-divider:before,
    button:after{
        content: "\f105";
        font-family: 'FontAwesome';
        text-decoration: none;
        margin:0 1px;
        opacity: .25;
    }
    button:after{
        position: absolute;
        right:0;
        top:2px;
    }
    .breadcrumb-item:last-child button:after{
        content:"";
        margin:0;
    }
}

