.instances-title{
	margin-bottom: 2em;
  	margin-top: 0.5em;
  	h2{
  		margin:0;
  	}
  	h2,.crud-instance-options{
  		display: inline-block;
  		vertical-align: middle;
  		.crud-instance-option{
  			margin-left:10px;
  		}
  	}
}

.instance-status-icon{
	width:7px;
	height:7px;
	margin-right:3px;
	display: inline-block;
	@include border-radius(7px);
}


.instance-status-processing{
	.instance-status-icon{
		background:$icon-orange;
	}
}

.instance-status-active {
	.instance-status-icon{
		background:#95ec00;
	}
}

.instance-status-disabled {
	.instance-status-icon{
		background:#e68f02;
	}
}

.instance-status-deleted{
	.instance-status-icon{
		background:red;
	}
}

.instance-url-field{
	width:250px !important;
	display: inline-block;
}

.instances-add-customer-domain{
	display: inline-block;
}

form[name="access"]{
	width:auto !important;
}

.instance-access{
	min-width:600px;
}

.instance-access-form{
	padding:5px 0 15px;
	> div{
		display: inline-block;
		input[type=text]{
			width:214px !important;
		}
	}
}

.instance-access-add-entry{
	padding:5px 0 15px;
}

.instance-access-crud{
	margin-bottom:15px;
	.crud-pagination{
		display: none;
	}
	.no-results{
		font-size:1.1em;
	}
	.crud-table-column-header-remove{
		text-indent: -9999px;
	}
	.crud-table-value-cell-remove{
		button{
			background: none;
			float:right;
			margin-right:10px;
		}
	}
}

.contact-instances-customer-config-intro{
	margin-bottom:15px;
}

.instances-crud,
.instances-summary{
	float:left;
	@include box-sizing(border-box);
}

.instances-crud{
	width:71%;
	margin-right:4%;
}

.instances-summary{
	margin-top:-79px;
	padding:30px 0px 30px 30px;
	width:25%;
	border-left:1px solid #ddd;
	position: relative;
	.summary-block-title{
		button{
			font-size:13px;
		}
	}
	.form-field{
		border:none;
		padding:.4em 0;
	}
	// .form-field-small-text .form-field-input{
	// 	font-size:1em;
	// }
	// .form-field-label,
	// .form-field-input{
	// 	width:100%;
	// 	display: block;
	// }
	// .form-field-label,
	// .summary-block-title-small{
	// 	font-weight: 600 !important;
	// 	text-transform: uppercase;
	// 	color:#999;
	// 	font-size:.9em;
	// 	margin-bottom:.6em;
	// }
	// .form-field-input{
	// 	font-size:1.4em;
	// }
	&:after{
		width: 1px;
		height: 40px;
		position: absolute;
		z-index: 1;
		content: '';
		left: -1px;
		bottom:0;
		background-image: -webkit-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
		background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
	}
}

.summary-block-title{
	font-size:.9em;
	font-weight: 600 !important;
	padding-bottom:20px;
	border-bottom:1px solid #ddd;
	color:#999;
	text-transform: uppercase;
	border-bottom:none;
}

.instance-ip-list{
	list-style: none;
}

.instance-ip-list-item{
	padding-right:30px;
	position: relative;
	margin-bottom:8px;
}

.instance-ip-list-item-add{
	font-size:.7rem;
	color:#999;
	position: absolute;
	right:0;
	top:50%;
	margin-top:-10px;
	&:hover{
		color:#000;
	}
}

.pip .summary-block-title{
	padding-bottom:10px;
	//margin:0;
}

.summary-block{
	margin-bottom:40px;
}

// .summary-block-hosts .form-field{
// 	padding:.3em 0;
// }

.summary-row-title{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.pip{
	.pip-instances-crud > h2{
		display: none;
	}
	.instances-summary{
		margin-top:-103px;
		padding:38px 20px 30px 30px;
	}
}

.instances-crud .crud-pagination{
	display: none;
}

.instances-crud{
	.crud .table-header.crud-header .crud-table-column-header-label-button{
		padding:11px .8em;
	}
	.crud-table-item-cell{
		padding:1em .8em;
	}
}

.pip-instances-wrap{
	padding:0 0 0 15px;
	.pip-page-title{
		position: relative;
		.button{
			position: absolute;
			right:327px;
			top:34px;
			i{
				color:#fff;
				margin-right:3px;
			}	
		}
	}
}

.instances-widgets{
	.summary-block-title{
		border-bottom:none;
		padding-bottom:10px;
	}
	.summary-block-content{
		font-size:1.5em;
	}
}