#login{
    .header-button-dashboard{
        display: none;
    }
    .login_maincontainer{
        background:#edf3f6;
        width:280px;
        height:280px;
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-140px;
        margin-top:-140px;
        background: $primary-color;
        @include border-radius(6px);
    }
    #maincontainer{
        height: 280px;
        border:none;
    }
    #contentcolumn {
        margin-top:0;
        float:none;
    }
    #loginwrap{
        width:100%;
        margin:0 auto;
        .block{
            border:none;
            margin-bottom:0;
            padding:0;
            .header{display:none;}
            .blockcontent{padding:15px;}
        }
    }
    #contentwrapper{
        margin:0;
        padding:0 !important;
    }
    .block{
        background: none;
        .blockcontent{ padding: 0 15px !important; }
    }
    .nieuwezaak_wrap{
        display: none;
    }
    .branding a{
        background-position: center center !important;
    }
    #topsection{
        height:92px;
        box-shadow: none;
        position: static;
        background: none;
        filter: none;
    }
    #topsection .branding,
    #topsection .branding a{
        width: 100%;
        margin: 0;
        height: 92px;
    }
    #topsection .branding a{
        width: 100%;
        margin: 0;
    }
    .sysmessage{
        width:230px;
        margin: 15px auto 0;
        li{
            border-color:red;
            background:#fcd6d6;
            margin-bottom:0;
        }
    }
    .input-wrapper{margin-bottom:15px;}
    .input_gebruiker{
        background: url(/images/icon-aanvrager-kleur.png) no-repeat 10px center #fff;
    }
    .input_ww{
        background: url(/images/icon-key.png) no-repeat 10px center #fff;
    }
    input[type=text],
    input[type=password]{
        text-indent: 30px;
        width:100%;
        padding:.6em;
    }
    .button-wrapper{
        padding: 10px 0 0;
    }
    .button{
        width: 100%;
        background: lighten($primary-color,15%);
        border: none;
        padding: 12px 0;
        &:hover{
            background: lighten($primary-color,20%);
        }
    }
}





.id_wrong{
    border:1px solid red;
    background:rgb(255, 206, 206);
    margin-top:30px;
    display: block;
    @include border-radius(3px);
    text-align: center;
    padding:5px 10px;
}

.ad-koppeling-divide{
    padding:15px;
    text-align: center;
    color:#fff;
    @include opacity(.7);
}

.ad-koppeling-enabled#login #maincontainer,
.ad-koppeling-enabled#login .login_maincontainer{
    height:366px;
}

.ad-koppeling-enabled#login .login_maincontainer{
    margin-top:-183px;
}

.ad-koppeling-enabled#login .login-bg{
    margin-top:92px;
}

.ad-koppeling-buttons{
    padding:0 15px;
}

.ad-koppeling-button.button{
    width: 100%;
    border-color: #444;
    font-weight: 600;
    padding: 10px;
    background: $icon-yellow !important;
    &:hover{
        background:darken($icon-yellow,5%) !important;
    }
}

.block-first-ad-login{
    width:650px;
    margin:0 auto;
}