/* @group Progress Bar   */

.flexible { width: 100%; }

.progress{width:85%;}

.progress,.progress *{
    @include box-sizing(content-box !important);
}

.progress-accordion { padding: 20px 0 0; }
 
.progress-wrap { margin-bottom: 10px; }
 
.progress.block { background: #f6f6f6 !important; }
 
    .progress.block .inner { padding: 10px 15px; }
 
    .progress.block p.header {
        background: none;
        padding: 0 0 15px;
        border-bottom: none; }
 
.progress .start-end { height: 25px; }
 
.progress.block span {
    font-size: 0.8333em;
    margin-top: 3px;
    color: #777; }
 
    .progress.block span.progress-start { float: left; }
 
    .progress.block span.progress-end { float: right; }
 
.progress .progress-bar {
    height: 16px;
    background: darken($background-color,3%); }
 
.progress .progress-value {
    background: darken($secondary-color,10%);
    width: 0;
    height: 16px;
    position: relative; }
 
.progress .perc {
    width: 25px;
    margin-left: -12px;
    position: absolute;
    top: 10px;
    visibility: hidden; }
 
.progress table { border-spacing: 0; }
 
.progress tr:first-child td { border-top: none; }
 
.progress tr:last-child td { border-bottom: none; }
 
.progress tr > td { border-top: 1px solid #fff; }
 
.progress td:first-child { font-weight: bold; }
 
.progress .progress-time {
    height: 45px;
    width: 100%;
    position: relative; }
 
.progress .color {
    height: 45px;
    float: left; }
 
.progress .green {
    width: 60%;
    background: url(/images/progress-time-green-bg.gif) repeat-x 0 center; }
 
.progress .orange {
    width: 25%;
    background: url(/images/progress-time-orange-bg.gif) repeat-x 0 center; }
 
.progress .red {
    width: 15%;
    background: url(/images/progress-time-red-bg.gif) repeat-x 0 center; }
 
.progress .current {
    width: 15px;
    height: 45px;
    margin-left: -7px;
    position: absolute;
    top: 0px;
    background: url(/images/current-time.png) no-repeat 0 center; }
 
.progress.progress-large{ width: 100%; @include box-sizing(border-box !important);}

.progress-large .progress-bar,
.progress-large .progress-value{
    height: 45px;
}

/* @end */