/* @group Rijke tekst */
.rijke-tekst p,
.rijke-tekst h1,
.rijke-tekst h2,
.rijke-tekst h3,
.rijke-tekst ul,
.rijke-tekst ol {
  margin: 15px 0;
}

.rijke-tekst h1,
.rijke-tekst h2,
.rijke-tekst h3 {
  line-height: 1.3;
}

.rijke-tekst h1 {
  font-size: 1.846em;
}

.rijke-tekst h2 {
  font-size: 1.385em;
}

.rijke-tekst h3 {
  font-size: 1.154em;
}

.rijke-tekst img {
  display: block;
  max-width: 100%;
}

.rijke-tekst ul,
.rijke-tekst ol {
  padding: 0;
}

.rijke-tekst ul {
  margin-left: 15px;
}

.rijke-tekst ul li {
  list-style: disc;
}

.rijke-tekst li {
  line-height: 1.7;
}

.rijke-tekst ol li {
  list-style: decimal;
  margin-left: 20px;
}

.rijke-tekst em {
  font-style: italic;
  color: #000;
}

.rijke-tekst strong {
  font-weight: bold;
}

.rijke-tekst a {
  text-decoration: underline;
  color: #0088CC;
}

.rijke-tekst a:hover {
  color: #005580;
}

/* @end */