$spotenlighter-width: 375px;
$spotenlighter-medium-width: 300px;
$spotenlighter-small-width: 375px;
$spotenlighter-tiny-width: 50px;

.spotenlighter-wrap{
    width:$spotenlighter-width + 38;
    margin:0 auto;
    > div, > a{
        vertical-align: middle;
    }
}

.spotenlighter{
    width:$spotenlighter-width;
    display: inline-block;
    margin-left:-4px;
}

.spotenlighter .spotenlighter-input{
    padding: 7px 0;
    width: $spotenlighter-width;
    text-align: center;
    position:relative;
}

.spotenlighter .ui-autocomplete-input{
    background-color: darken($primary-color,20%);
    border: none;
    //@include box-shadow(0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.1) inset);
    color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
    height: auto;
    padding: 6px 8px;
    width: $spotenlighter-width;
}

.spotenlighter .ui-autocomplete-input:focus,
.spotenlighter .focus .ui-autocomplete-input{
    //border:1px solid #3F494D !important;
    box-shadow: none !important;
    //background: #fff url(/images/icon-filter.png) no-repeat 10px 50% !important;
    background-color: #fff;
    color: #333;
}

.spotenlighter .ui-autocomplete-input:hover{
    border-color: #000 !important;
}

.spotenlighter .spotenlighter-input-active .ui-autocomplete-input,
.spotenlighter .spotenlighter-input-active .ui-autocomplete-input:hover{
    border-color: #393f41 !important;
    background: #fff;
    color: #000;
}

.betrokkene .adres, .betrokkene .burgerservicenummer {
    font-size: smaller;
    color: gray;
}

.ui-autocomplete-spotenlighter-betrokkene {
    position: fixed;
}

.ui-autocomplete-spotenlighter .spotenlighter-results-category{
    display: none;
}

.ui-autocomplete-spotenlighter .spotenlighter-results-title{
    font-weight: bold;
    text-transform: uppercase;
    font-size:0.846em;
    padding:.7em 0 .7em;
    margin:.5em 1em .7em;
    border-bottom:1px solid #ccc;
    .spotenlighter-results-title-expl{
        display: none;
        color:#ccc;
        margin-left:5px;
    }
    .spotenlighter-results-title-text{
        &:hover{
            text-decoration: underline;
            cursor: pointer;
            & + .spotenlighter-results-title-expl{
                display: inline;
            } 
        }
    }
}

.spotenlighter-results-title-saved_search .spotenlighter-results-title-expl{
    display: none !important;
}

.ui-menu{
    border-color:rgba(0,0,0,0.25) !important;
}

.ui-menu .ui-menu-item a small{
    color: #999;
    font-size: 0.9em;
    padding-bottom: 0.2em;
    display: block;
    line-height: 1.5;
}

.ui-menu .ui-menu-item a .betrokkene small{
    color: #888;
}

.ui-menu.ui-autocomplete-spotenlighter{
    max-height:400px;
    border-top: none;
    z-index: 100000 !important;
    position: fixed;
    top: 37px !important;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-hover,
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-active {
    background: rgba(0,0,0,0.6);
    color: #fff;
}

.no-rgba .ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-hover,
.no-rgba .ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-active {
    background: #5C6A70;
}

.ui-autocomplete-spotenlighter .extra_space{
    padding: 5px;
    height: 2px;
    display: block;
    &:first-child{
        display: none;
    }
}

.ui-autocomplete span.naam{
    line-height: 1.4;
    display: block;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category div{
    display: inline-block;
    float: right;
    border: 1px solid transparent;
    padding: 0 8px;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category span{
    padding: 0 8px;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category:hover div{
    color: #000;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(247,247,247) 50%, rgb(242,242,242) 52%, rgb(237,237,237) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(50%,rgb(247,247,247)), color-stop(52%,rgb(242,242,242)), color-stop(100%,rgb(237,237,237)));
    background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(247,247,247) 50%,rgb(242,242,242) 52%,rgb(237,237,237) 100%);
    background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(247,247,247) 50%,rgb(242,242,242) 52%,rgb(237,237,237) 100%);
    background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(247,247,247) 50%,rgb(242,242,242) 52%,rgb(237,237,237) 100%);
    background: linear-gradient(top,  rgb(255,255,255) 0%,rgb(247,247,247) 50%,rgb(242,242,242) 52%,rgb(237,237,237) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    border: 1px solid #888;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category:hover div:active{
    background: rgb(206,206,206);
    background: -moz-linear-gradient(top,  rgba(206,206,206,1) 0%, rgba(235,235,235,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(235,235,235,1)));
    background: -webkit-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(235,235,235,1) 100%);
    background: -o-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(235,235,235,1) 100%);
    background: -ms-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(235,235,235,1) 100%);
    background: linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(235,235,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ebebeb',GradientType=0 );
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.spotenlighter-input .icon-cancel-search{
    display: none;
    width: 18px;
    height: 18px;
    background: url(/images/icon-cancel-search.png) no-repeat 0 0 !important;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -9px;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item{
    position: relative;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .start-persistent-user:hover{
    background-color: #aaa;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .start-persistent-user:active{
    background-color: #222;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .start-persistent-user{
    display: none;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .ui-state-hover .start-persistent-user{
    display:block
}

.ui-menu .ui-menu-item .start-persistent-user{
    display: none;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .button{;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -19px;
    display: none;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .ui-state-hover .button{
    display: block;
}

[data-search-labs=false]{}

.spotenlighter-direct-search-url-button{
    background:darken($primary-color,7%);
    text-indent:-9999px;
    display: inline-block;
    width:33px;
    height:31px;
    margin-right:4px;
    border-right:none;
    &:hover{
        background:darken($primary-color,15%);
    }
}

.spotenlighter-direct-search-url-button-icon{
    background-image: url(/images/spotenlighter-magnifier.png);
    background-repeat:no-repeat;
    background-position:10px 50%;
    width:33px;
    height:28px;
    display: block;
}

@media only screen and (max-width:1014px) {
    .branding{display: none;}
    #login .branding{display: block;}
    .spotenlighter-wrap{
        float:left;
        margin:0 0 0 10px;
        width:$spotenlighter-small-width + 37;
    }

    .spotenlighter{
        width:$spotenlighter-small-width;
    }

    .spotenlighter .spotenlighter-input{
        width: $spotenlighter-small-width;
    }

    .spotenlighter .ui-autocomplete-input{
        width: $spotenlighter-small-width;
    }
}

@media only screen and (min-width: 1014px) and (max-width: 1106px){
    .spotenlighter-wrap{
        width:$spotenlighter-medium-width + 37;
    }

    .spotenlighter,
    .spotenlighter .spotenlighter-input,
    .spotenlighter .ui-autocomplete-input{
        width:$spotenlighter-medium-width;
    }
}